[2018-06-03 11:01] pascalgrimaud commented on #271
It's related to Node Sass with your environment (windows, linux or mac) , not to JHipster.
Not sure we can do something here.

Do you have an issue when launching the app ? Or it's just this warning message

[2018-06-03 13:43] bairui100 commented on #271
![image](https://user-images.githubusercontent.com/33535023/40887159-b2b4b642-6776-11e8-9913-f7a8e91b87b4.png)

When I use "npm start", something goes wrong.

But when I started another gateway project, everything was fine.Gateway to use CSS

[2018-06-03 14:03] bairui100 commented on #271
I upgraded my NPM to the latest version 6.1.0
Finding that node-sass 4.5.0 in package.json does not support the latest version of NPM, I changed the version of node-sass to 4.9.0.
But there are new problems：
![image](https://user-images.githubusercontent.com/33535023/40887337-e7caa01e-6779-11e8-84c6-14d7ace53bcf.png)
![image](https://user-images.githubusercontent.com/33535023/40887343-faf56c50-677

[2018-06-03 15:30] pascalgrimaud commented on #271
I don't think it's related to NPM version but directly to Node version.
I suggest you to have a look at:
- https://github.com/sass/node-sass/issues
- https://github.com/sass/node-sass/blob/master/TROUBLESHOOTING.md

There are a lot of issues with the same error you have.
Sometimes, this command can resolve your issue: `npm rebuild node-sass`

I'm closing this, as it's not a problem with jhipster-r

[2018-06-03 15:30] #271 closed

[2018-06-22 01:56] xiaoshao opened #275 "I have to do a little change to startup the `jhipster-registry`."
I am following the readme to start registry. But I can't access the it by `localhost:8671` after start it.

I just start it by
[code]
because it is failed when running `mvnw`

[2018-06-22 04:55] pascalgrimaud commented on #275
it's `localhost:8761`

We can't help you with the only information:

We need to have your log output.

I'm closing this, because we don't have enough information to help you and I'm sure the last version works well, as we did the demo at JHipster Conf yesterday.

[2018-06-22 08:01] xiaoshao commented on #275
The error for `./mvnw -Pdev,webpack` as following.
[code]

And I have fix the `./mvnw` failed by downgrade the node version to 8 from 10.
Could you add the node version as the pre-requirement.

But I still can't access the dashboard, I have to run yarn start and access by `localhost:9000`

[2018-06-22 08:02] xiaoshao commented on #275
and my yarn version is
[code]

[2018-06-22 08:42] pascalgrimaud commented on #275
I reopen the ticket as we have an issue in our `pom.xml`. Here all instructions:

1st solution:
- clone the project
- install the lib: `yarn install`
- build the front: `yarn webpack:build`
- launch maven: `./mvnw`

2nd solution:
- clone the project
- install the lib: `yarn install`
- modify in your `pom.xml`: `<arguments>run webpack:build:dev</arguments>` -> `<arguments>run webpack:build</argumen

[2018-06-22 08:58] jdubois commented on #275
If that's broken that probably means it also fails when you use the Heroku button so I'm cc'ing @jkutner

We need to fix this quickly, I'll have time this afternoon if needed.

[2018-06-22 08:59] jdubois commented on #275
Oh and @xiaoshao  could you put a better title to this issue

[2018-06-22 09:21] pascalgrimaud commented on #275
@jdubois : it works well when deploying to Heroku because it uses `-Pprod,heroku -DskipTests` (there is no webpack profile here, which is used only for dev)
See https://github.com/jhipster/jhipster-registry/blob/master/app.json#L16

This issue is only for development

[2018-06-22 10:00] jdubois commented on #275
Indeed thanks @pascalgrimaud it works on Heroku without any issue (cc @jkutner )

[2018-06-22 14:28] jkutner commented on #275
Great! Thank you for being mindful of the Heroku button

[2018-06-23 18:42] xetys commented on #148
I took a look at this, and first, sorry for the incredible delay from my side.

So far, @rifatdover thanks for your contribution, I checked it out. Unfortunately, that's not the way I think it's correct. In short: this problem is a use-case for the service-to-service communication using UAA. The registry has an own and simple user management, which doesn't relate to the user's domain representatio

[2018-06-26 14:50] pascalgrimaud commented on #275
Closing this, as https://github.com/jhipster/jhipster-registry/issues/275 is merged

[2018-06-26 14:50] #275 closed

[2018-06-27 14:00] rifatdover commented on #148
@xetys I understand what you do. But I don't know if it is right to give internal service communication permission for the global administration. Which makes reachable every information inside microservices. I don't know if it is suitable?

Also if you use keycloack or Okla same permissions occur there. And here UAA is the replacement of Authorization and Authentication point of the system. Why do

[2018-06-27 14:08] rifatdover commented on #148
@xetys By the way, I'm not much of an expert on these issues. Forgive me if I make wrong comments.

[2018-06-29 04:00] GrowMon opened #279 "Documentation needs updating for v3.3.0 Docker Image"
##### **Overview of the issue**

Latest JHipster Registry fails at startup because of missing property in bootstrapProperties

##### **Motivation for or Use Case**

I did not nail down the version of JHipster Registry, so when I started my Docker container, I got the latest version and it failed to start up. Backwards compatibility is good!

##### **Reproduce the error**

Use the latest version of

[2018-06-29 12:51] ganeshkrishnan1 opened #280 "Jhipster registry v3.3.0 is not picking up environment variables"
##### **Overview of the issue**

v3.3.0 of jhipster ignores the environment variable.

##### **Motivation for or Use Case**

Unable to set custom password. Jhipster in product reverts to default admin/admin
This is a critical issue as the production is going back to default password

##### **Reproduce the error**

Either in docker or as command line pass new password
Docker:
            - SPRING_P

[2018-06-29 12:56] pascalgrimaud commented on #280
Looking at the config: https://github.com/jhipster/jhipster-registry/blob/master/src/main/resources/config/application-dev.yml#L37

Can you try: SPRING_SECURITY_USER_PASSWORD instead ?

[2018-06-29 13:03] ganeshkrishnan1 commented on #280
Perfect. Works.
Which means we need to update the documentation. I will send a pull request for the docs

[2018-06-29 13:16] jdubois commented on #280
Oh yes please

[2018-06-29 13:24] ganeshkrishnan1 commented on #280
Created pull request. Closing this issue

[2018-06-29 13:24] #280 closed

[2018-06-29 20:03] tkirsch opened #281 "can't overwrite 'jwt.secret' using profile 'native' or command line arg"
##### **Overview of the issue**

while using 'native' in 'spring.profiles.active' we can't overwrite the default jwt.secret provided by the https://github.com/jhipster/jhipster-registry-sample-config
using the command line arg doesn't work either.
it does work using our own git repo.

##### **Motivation for or Use Case**

not working as expected and described in the documentation 'Using the pre-pa

[2018-06-29 20:20] ruddell commented on #281
Can confirm, not sure of the solution.  Maybe related to the [bootstrap](https://github.com/jhipster/jhipster-registry/blob/master/src/main/resources/config/bootstrap.yml#L14-L17) config having both git/native?

[2018-06-30 08:51] xetys commented on #148
I get your point. That's just some kind of balance between the correct way and the more handsome.

Giving the internal client adminstration permission is easy and solves the problem in one place. As internal clients are used inside the application, that's not that bad.

The more accurate way would be to define a distinct role, or even scope, or even an SpEL expression, done in every single microse

[2018-06-30 13:31] xetys commented on #148
It's just the service2service communication, one thing where the UAA is good in.

[2018-06-30 15:17] ruddell commented on #148
I agree with @xetys that this is an ideal use-case for service-to-service communication.  The way OIDC works is that it duplicated all of the auth logic from the main generator.  With OIDC there isn't the concept of a service account that could have been used.  I also don't think end-users accessing the registry is a normal use-case (normally I would expect admins only)

The main question I see is

[2018-07-03 11:11] jdubois commented on #279
How do you run the image, did you just pull it and run it? Or did you use the provided Docker Compose file?

[2018-07-03 14:46] GrowMon commented on #279
We’re running it in Swarm.

[2018-07-03 20:31] ruddell commented on #279
I couldn't reproduce, I tested locally with `v3.3.0` from the generated code and the `latest` tags.  Also tried without ENV variables. Didn't use swarm but it should run the same I would guess.

You could probably workaround the issue by setting an ENV variable for your container, something like `JHIPSTER_LOGGING_SPECTATORMETRICS_ENABLED=true`

[2018-07-04 05:37] pascalgrimaud commented on #279
The property mentionned by @ruddell was removed during the migration to Spring Boot 2:
See https://github.com/jhipster/jhipster-registry/commit/50e6ae4875e53360d23cfc55fb52987e5b7de232#diff-7f7e782cf2a53199c96fecb67b532ebcL104

If you have it in your config, it will fail.

If you upgraded from an old version of Registry to the new one, you need to be careful about your config.

As you didn't descr

[2018-07-05 07:09] jdubois commented on #281
I'm sorry I can't test right now -> do you mean that even with the native profile it still fetches the default Git config? That would be pretty bad.
As this is configured in the bootstrap.yml, yes that's probably the culprit.

[2018-07-05 07:21] PierreBesson commented on #281
No the native profile is correctly configured but the registry doesn't setup the jwt secret in its own properties from central config/application.yml or perhaps this is caused by the code you added at boot time.

No the problem is not due to the git config in bootstrap.yml this is safely ignored due to the native profile.

[2018-07-05 07:52] pascalgrimaud commented on #281
Sorry, I should post here instead of our ML. So copy/paste:

To reproduce:
- download the v3.3.0 at https://github.com/jhipster/jhipster-registry/releases into an empty folder
- go into this folder, then launch: `java -jar jhipster-registry-3.3.0.war --spring.profiles.active=dev,native,swagger --jhipster.security.authentication.jwt.secret=toto`
- go into config screen and you will see:

[code]

It

[2018-07-05 08:52] jdubois commented on #279
Thanks @pascalgrimaud - I'm closing this as we can't reproduce and we don't have enough information anyway

[2018-07-05 08:52] #279 closed

[2018-07-06 12:29] PierreBesson commented on #279
@jdubois removed spectator support in JHipster 5 which was used to exploit hystrix circuit breaker metrics, it used to be cool but used by virtually noone even by myself. The reason it is not mentioned on the registry docs is because it is a JHipster feature.
Also if you had re-run `jhipster docker-compose` with the latest version it would have updated your config files and removed this property.

[2018-07-06 16:15] PierreBesson commented on #281
I really don't understand what is going on here and why it doesn't work. My best guess is an issue related to the native profile: https://github.com/spring-cloud/spring-cloud-config/issues/897.
The weird issue, is that when I remove the `git.uri` properties, it complains that it is missing even though I'm using the `native` profile. On my local testing, the native profile is completely broken.
An

[2018-07-09 12:39] pascalgrimaud commented on #281
@PierreBesson : can you try this change in `bootstrap.yml` file ?

[code]

[2018-07-09 12:45] PierreBesson commented on #281
@pascalgrimaud if you remove the bootstrap property, it won't be able to retrieve configuration from itself... But yes it does fix our issue with the native profile (which I suspect is a spring cloud config bug) but it's not totally satisfactory. Let's discuss this tomorrow with @jdubois.

[2018-07-09 12:47] pascalgrimaud commented on #281
Yes, I think this ticket must be our priority tomorrow :)

[2018-07-10 16:08] pascalgrimaud commented on #281
fixed by #282

[2018-07-10 16:08] #281 closed

[2018-07-20 17:19] pascalgrimaud commented on #237
just tested it, and it works fine with last Registry v4.0.0
So we can close this

[2018-07-20 17:19] #237 closed

[2018-07-24 08:37] iamzxj opened #283 "internationalization"
hello，Does the project support internationalization？

[2018-07-24 12:41] pascalgrimaud commented on #283
hello, no i18n

[2018-07-25 14:39] #283 closed

[2018-07-31 11:52] tibistibi opened #286 "yarn global upgrade generator-jhipster gives error lockfile is outdated"
##### **Overview of the issue**

I want to upgrade my jhipster application to the latests version. when running the command:

     yarn global upgrade generator-jhipster

it gives me the error:

    error Outdated lockfile. Please run `yarn install` and try again.

when i run yarn install it runs fine but when i rerun ` yarn global upgrade generator-jhipster` i still get the same error.

##### **M

[2018-08-01 07:38] jdubois commented on #286
This is the repo for the JHipster Registry, I think you are looking for https://github.com/jhipster/generator-jhipster

[2018-08-01 15:36] tibistibi commented on #286
ah sorry about that.

luckily i found the solution already (and thanks to your response i could find this issue).

the error message is unclear but what solved it was using
sudo
probably the lockfile was not outdated but could not be read becasue of rights.

i will close this issue

[2018-08-01 15:36] #286 closed

[2018-08-22 15:02] 62mkv commented on #196
@jdubois:

And how do I do this ? `jhipster-registry.yml` file that I have within another microservice, has
[code]
line in it; should that use Git config as well ?

@Tcharl

sorry, where should this be added ? into the `docker-compose ...up` command line ?

Thx!

[2018-08-22 15:28] 62mkv commented on #196
two more remarks:
1) the `src/main/docker/jhipster-registry.yml` that I have says:
[code]
So, is (was) it a bug ? I mean, that while active profile is set to dev, it still grabs Cloud Config from Git.

it's generated with .. I don't know actually with which JHipster version, but it's committed on 20th of Oct, 2017.

2) I've tried to put `export HTTPS_PROXY=http://zscaler.proxy.int.kn:80` into /hom

[2018-08-22 15:45] jdubois commented on #196
@62mkv  I just checked with the latest master (of course that depends on your release, and maybe you have a bug, but as you don't have the version, who knows...), and indeed it picks up the configuration in the `central-server-config` directory.

If you want to test easily (there are many other ways, of course):

- Git clone the repo
- Modify a property in the `central-config/application.yml`, lik

[2018-08-22 17:07] 62mkv commented on #196
Thanks, @jdubois .. I will give it a try tomorrow in the workplace again.

At home, I've just created empty new JHipster microservice and the very same command (docker-compose -f .. up) works *like a charm!* Of course, I don't have that corporate proxy at home, and also I use native Docker, not that old Docker Toolbox.

Ehhhh, old story..

[2018-08-30 10:09] ismjt opened #288 "it seems 'application-prod.yml' didn't work"
##### **Overview of the issue**

after clone this repo, execute ```yarn install```, and config the following  section,
[code]

then running this project by ```./mvnw -Pprod```,
only password 123 can login success

##### **Motivation for or Use Case**

wanna enable configurations in application-prod.yml

##### **Reproduce the error**

1.  ```git clone https://github.com/jhipster/jhipster-registry.g

[2018-08-30 12:53] jdubois commented on #288
The `prod` profile is not used for JHipster Registry - I know it's not perfect, and it's also misleading, but that's the way it is.  This is mostly because it's useless: there is no database (= no cache) or anything important to tune, so dev mode is totally fine for running it.

You can see it in the log, when you start you'll see a profile list, and you'll see you are in `dev` mode.

And that's w

[2018-08-30 12:53] #288 closed

[2018-09-06 00:12] abhisheksharma85 opened #289 "base64-secret not working"
##### **Overview of the issue**

Registry is not working with base64-secret. I am running registry in production using this config
https://github.com/abhisheksharma85/fs-registry-config
If I leave secret uncomment that I get this warning
Warning: the JWT key used is not Base64-encoded. We recommend using the `jhipster.security.authentication.jwt.base64-secret` key for optimum security.

If I comme

[2018-09-06 05:34] jdubois commented on #289
Yes -> use "secret" for the moment with the Registry. I will have a look today, maybe we need a specific release.

[2018-09-06 15:07] jdubois commented on #289
Oh I get it, in fact the error message "Your JWT secret key is not configured using Spring Cloud Config (...)" is obsolete now.

Let me change this and do a new release, but you can ignore it.

[2018-09-06 15:10] abhisheksharma85 commented on #289
Thank you Julien for such a quick response.

On Thu, Sep 6, 2018 at 8:08 AM Julien Dubois <notifications@github.com>
wrote:

[2018-09-06 15:10] jdubois commented on #289
Hang on, let me test further :-)
I'll delete the last comments to keep the thread clean

[2018-09-06 15:26] jdubois commented on #289
After much testing, this works well in `prod` profile: I'm guessing you have some misconfiguration, so let me try to help you.

- If you use both "secret" and "base64-secret", you will use the value from "secret". This is because you could use the JHipster Registry to manage several JHipster applications, made with different JHipster versions, and "base64-secret" has just been released in the last

[2018-09-06 20:32] abhisheksharma85 commented on #289
Thanks for this fix.

Also, I have implemented Two-factor Login and Refresh Token in my gateway for authenticate. I want to submit my contributions. Should I just create a PR for jhipster ?

[2018-09-07 04:35] pascalgrimaud commented on #289
@abhisheksharma85 : you should open a ticket at generator-jhipster with full detail so we can understand your proposal and discuss about it

[2018-09-07 12:32] pascalgrimaud opened #290 "Missing upload jhipster-registry-4.0.1.war in releases"
@jdubois : just to let you know that in your last release, you forgot to upload the war file.

[2018-09-07 12:39] jdubois commented on #290
Oh thanks, I'm doing it right now

[2018-09-07 12:42] jdubois commented on #290
Done :-)

[2018-09-07 12:42] #290 closed

[2018-09-07 12:43] jdubois commented on #289
Closing as this looks OK.
@abhisheksharma85 yes thanks for the proposal

[2018-09-07 12:43] #289 closed

[2018-09-07 12:45] pascalgrimaud commented on #290
so fast! thanks :)

[2018-09-07 19:49] abhisheksharma85 commented on #289
I have submitted proposal

[2018-09-10 08:45] jdubois commented on #289
Thanks @abhisheksharma85 !

[2018-09-10 13:57] pascalgrimaud commented on #148
Fixed by https://github.com/jhipster/jhipster-registry/pull/278

[2018-09-10 13:57] #148 closed

[2018-09-11 18:02] jsm174 opened #291 "docker-compose requires empty secret before it will use base64-secret"
##### **Overview of the issue**

I built a jhipster docker setup using: `jhipster docker-compose`

Running the standard `docker-compose up`, I was noticing:

[code]

Inspecting `central-server-config/application.yml` the `base64-secret` is there:

[code]

Going to the admin console at `http://localhost:8761/#/` I get:

`
jhipster-registry_1  | 2018-09-11 17:35:33.437 ERROR 1 --- [  XNIO-2 task-7]

[2018-09-11 19:03] ruddell opened #292 "OAuth2 Gateway Management Broken"
##### **Overview of the issue**
When attempting to manage the gateway through the JHipster Registry Administration pages, you get a 302 to log in with Keycloak with an invalid_redirect_uri.  OAuth2 microservices work fine.

Originally reported on StackOverflow: https://stackoverflow.com/questions/52258423/jhipster-registry-and-keycloak-cors-error-getting-service-informations

##### **Motivation fo

[2018-09-12 17:31] deepu105 commented on #291
Closing this in favour of #8301

[2018-09-12 17:31] #291 closed

[2018-09-14 07:18] mkawczynski07 opened #294 "401 invalid token error when try to explore swagger API of microservices from jhipster registry"
##### **Overview of the issue**

I run jhipster registry from sources with:
`
$ ./mvnw -Pprod
`
I added UAA and one microservice from jhipster with defaults. After all of them build I am unable to check API definitions from jhipster registry. I get **401 invalid token** error.

##### **JHipster Registry Version(s)**
JHipster Registry 4.0.1

##### **Browsers and Operating System**
Chrome Version 69

[2018-09-14 16:26] ruddell commented on #294
UAA support for the registry was just recently added and will be in the next release.  If you want to have it early, you can make the following changes:

 - In your UAA app's UaaConfiguration.java, add `.authorities("ROLE_ADMIN")` [here](https://github.com/jhipster/generator-jhipster/commit/8b933093a6aff87c90bef22e1c5894134c0ad231).

 - Then you can use the `develop` tag for the `jhipster-registry

[2018-09-14 16:26] #294 closed

[2018-09-14 21:53] 7uc0 commented on #292
Same issue using okta / keycloak oidc

[2018-09-20 13:00] mraible opened #295 "JHipster Registry no longer "just works" with Heroku."
##### **Overview of the issue**

Create a new JHipster Registry on Heroku. It doesn't startup successfully. I used the [this link](https://dashboard.heroku.com/new?&amp;template=https%3A%2F%2Fgithub.com%2Fjhipster%2Fjhipster-registry) to create my app, then entered a name and password.

It fails to start on first launch:

[code]

I selected “Restart all dynos” to try again:

[code]

As you can see

[2018-09-20 13:02] jdubois commented on #295
It might be an issue with the new JWT keys with set up, it's the main thing that has changed recently

[2018-09-20 13:03] jdubois commented on #295
But reading from the logs it's just that it took more than 90 second to start, which is not normal

[2018-09-20 14:35] jkutner commented on #295
Do i need to add `jhipster.security.authentication.jwt.base64-secret` to the default Heroku properties?

[2018-09-20 14:44] jdubois commented on #295
No it's easier to keep the old property, but be careful there's a new check when you log in and the key should be much longer than before.

[2018-09-20 14:47] jkutner commented on #295
what's the old property?

[2018-09-20 14:54] jdubois commented on #295
"jhipster.security.authentication.jwt.secret".
"base64-secret" is the same but the key should be encoded in Base64 as it gives better security. But everyone needs to be on a recent release, so at the moment it can mostly cause issues.

[2018-09-20 15:36] jkutner commented on #295
The problem appears to be that the GC is on fire during boot. The registry is getting to be too intense for a free (512 MB RAM) dyno.

Are they any non-essential functions of the registry we can prune for the simple/free use case?

[2018-09-20 15:41] mraible commented on #295
Is it possible to deploy an old version (for example, from a tag)? That way, we could see what versions work, and see if recent changes affected things. When I last tried in mid-August, everything worked.

[2018-09-23 09:51] alexsintoni opened #298 "Unable to run JHipster registry in AWS"
##### **Overview of the issue**

I can login when I deploy it in AWS using [Elastic Beanstalk](https://docs.aws.amazon.com/quickstarts/latest/webapp/welcome.html?icmpid=docs_eb_console_new)

In particular I receive the following error:
[code]

##### **Motivation for or Use Case**

I am simply trying to deploy my microservice architecture for the first time to AWS as test for before the real produc

[2018-09-23 11:18] gmarziou commented on #298
Deploying the registry in Tomcat 8 is not exactly option we recommended, so I'm not sure we should spend some time documenting it. Any reason why you don't deploy as an executable war?

[2018-09-23 11:30] alexsintoni commented on #298
Hi @gmarziou and thanks for the reply.
There is any particular reason that I use Tomcat but it was the only option which worked with [Elastic Beanstalk](https://docs.aws.amazon.com/quickstarts/latest/webapp/welcome.html?icmpid=docs_eb_console_new)

I tried to choose Java as Platform, but that option does not even start the app properly and I am not sure why. Instead when I chose Tomcat, the app is

[2018-09-23 11:45] gmarziou commented on #298
I rewrote title as it seems more descriptive to me because you tried 2 different ways and both failed.
Hopefully, AWS experts may have a look at thtis issue with this tile and help you as I don't use AWS myself.

[2018-09-23 11:51] alexsintoni commented on #298
@gmarziou perfect, really thanks a million for your support. Have a nice day man :)

[2018-09-23 18:09] ruddell commented on #298
I wasn't able to get the registry started in a local Tomcat docker container, so this looks unrelated to AWS.  The backend doesn't start up for some reason.

[2018-09-27 16:07] pomeisl commented on #292
Same problem with keycloak

[2018-09-28 05:31] pascalgrimaud commented on #292
Do you have this problem only with the Registry or with the Gateway too ?

[2018-09-28 20:41] 7uc0 commented on #292
I confirm @szogibalu feedback

[2018-10-04 21:27] dami1c opened #301 "Problem to configure docker health check"
##### **Overview of the issue**
I don't succeed to activate the docker health check when i run the jhipster-registry docker image.

##### **Motivation for or Use Case**
Need health check to monitor jhipster-registry server status.

##### **Reproduce the error**
I tried to enable the docker healtcheck calling the /management/health api with curl
`$ docker run --health-cmd='curl http://127.0.0.1:876

[2018-10-05 06:04] pascalgrimaud commented on #301
Adding `curl̀` won't increase so much the Docker image size.
So yes, do you want to contribute plz ?

[2018-10-07 10:41] pascalgrimaud commented on #301
Closing this, as the PR has been merged

[2018-10-07 10:41] #301 closed

[2018-10-14 03:29] xiaods opened #305 "Howto disable config server"
##### **Overview of the issue**
I just use ui for eureka instance management, don't need config. i wonder to know how to disable the spring config service.
##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

provide a env to disable the config server.

##### **JHipster Registry Version(s)**
4.0.4

[2018-10-14 05:29] xiaods commented on #305
SPRING_CLOUD_CONFIG_ENABLED  is not working

[2018-10-14 06:11] xiaods commented on #305
or howto override spring.cloud.config.server.composite, not found example.

[2018-10-14 11:29] deepu105 commented on #305
This is not a bug or feature request and hence this is not the correct forum for this.
**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This helps the project to keep the issue tracker clean. Also, Stack Overflow will give your question a larger audience:

- This will increase your chances to get an answ

[2018-10-14 11:29] #305 closed

[2018-10-30 11:14] MetalMiner commented on #292
Hi,
I am facing the same problem. Login works like charm, but accessing metrics or api from another OAuth2 secured service fails with "401". Inspecting the network call shows that the registry does not send any authorization header at all with the calls. So I think the problem is really client related. Something broken with the OAuth2 service? For reference: I am using Keycloak as OIDC provider.

[2018-11-02 12:32] fjakop opened #309 "No frontend with WAR-distribution"
##### **Overview of the issue**

After downloading the WAR and starting it I get an error page at localhost:8761, no frontend is displayed.

##### **Motivation for or Use Case**

I can not use the registry's frontend.

##### **Reproduce the error**

1. Download and save jhipster-registry-4.0.5.war
2. Create folder _central-config_ besides the war
3. Create _application.yml_ in _central-config_ and

[2018-11-02 12:35] pascalgrimaud commented on #309
thanks for opening this, I forgot it.
I confirm the issue

[2018-11-02 12:41] jdubois commented on #309
Thanks also! I was just going to test this! It shouldn't take much time

[2018-11-02 12:56] jdubois commented on #309
OK normalement c'est bon maintenant!
A ce propos je vais sans doute faire une 4.0.6 aujourd'hui :-)

[2018-11-02 12:56] #309 closed

[2018-11-02 19:17] pascalgrimaud commented on #295
@jkutner : I'm closing this, as I think it's resolved. I just used the Heroku button with my phone and deploy the registry in less than 1min ! Just incredible !

[2018-11-02 19:17] #295 closed

[2018-11-08 08:13] fjakop opened #311 "Logs / Health et al. not working on Registry for other services"
##### **Overview of the issue**

When I start JHipster Registry 4.0.6 (WAR) and try to view logs, health etc. for other registered services
  * it does not show these data
  * the frontend is broken, i.e. when I click 'Home' I'm logged out and forced to sign in again

##### **Motivation for or Use Case**

The overviews for other services seem quite unusable for me.

##### **Reproduce the error**

[2018-11-08 08:21] pascalgrimaud commented on #311
@fjakop : can you try the develop branch ? or jhipster/jhipster-registry:develop image
It is supposed to work since this PR https://github.com/jhipster/jhipster-registry/pull/278
Maybe you need to use the `uaa` profile for that.

I know the UAA support is really bad today, as it seems no one want to contribute / fix bug / improve this.

[2018-11-08 10:35] xetys commented on #311
I'm still stuck with private stuff... Just can't get my self running
again..... However, I'll take a look

Julien Dubois <notifications@github.com> schrieb am Do., 8. Nov. 2018,
09:25:

[2018-11-08 13:04] jdubois commented on #311
Thanks a lot @xetys - I see tons of people using UAA, so your work is definitely very important, then it's really sad none of them participate. Not sure how we can fix that :-(

[2018-11-09 07:17] fjakop commented on #311
I've tried again with develop branch as suggested, but it does also not work. When I watch the browser console I see after switching logfile from registry to uaa (or any other registered service)

    zone.js?d135:2935 GET http://localhost:9000/services/uaa/uaa:17cab97f2bdb4335af68264c41284d44/management/logfile 401 (Unauthorized)
    zone.js?d135:2935 GET http://localhost:9000/management/logfile

[2018-11-09 08:57] ruddell commented on #311
@fjakop Are you sure you are using the `uaa` profile?  I cloned the repository, added `uaa` to `spring.profiles.active` in `bootstrap.yml`, and was able to manage a UAA app through the Registry admin pages.  Note that just running `./mvnw -Puaa` doesn't work

I get a 404 on the logs page but that's expected and the instructions to enable it are on the page.

[2018-11-12 11:53] fjakop commented on #311
I've tested with `-Dspring.profiles.active=dev,uaa`, it works. As you mentioned, `./mvnw -Puaa` does not work.

[2018-11-12 11:53] #311 closed

[2018-11-13 23:44] xetys opened #313 "Health + Metrics broken on UAA if it has a custom name"
##### **Overview of the issue**

The registry assumes, the uaa always has the name 'UAA'. Consequently the token fetching get's broken, if it tries to call a service which doesn't exist

##### **Motivation for or Use Case**

Having a different name for UAA
##### **Reproduce the error**

name an UAA server with 'userservice' or anything you like

##### **Related issues**

##### **Suggest a Fix**

h

[2018-11-17 02:50] sklakken opened #315 "Unable to Use OIDC"
I've successfully configured the JHipster Registry with Keycloak before sometime around April of this year. Coming back to it, it's not working out of the box. There are two primary issues:

1. When using the keycloak.yml docker-compose configuration, when linking to the "client" menu item, keycloak goes into a loop that constantly refreshes the screen. Therefore, I can't review the client setup.

[2018-11-18 17:37] mraible commented on #315
The `docker-compose.yml` file for your JHipster Registry needs to have a property name that matches what you have in your `application.yml` file.

[code]

Your export should use this as well:

[code]

[2018-11-18 19:02] sklakken commented on #315
Actually, in the category of there's no right answer, I simply set  OAUTH2_URI, which defaults to localhost:9080. See below. Cheers!

export OAUTH2_URI=https://keycloak.cool-api.net

uri: ${OAUTH2_URI:http://localhost:9080}

[2018-11-18 19:02] #315 closed

[2018-11-22 09:51] #313 closed

[2018-12-14 12:54] joshisimt opened #319 "getting blank page and got this error in broser console"
##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Registry Version(s)**

##### **Browsers and Operating System**

- [ ] Checking this box is mandatory (this is just to show you read everything)

[2018-12-14 12:55] jdubois commented on #319
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2018-12-14 12:55] #319 closed

[2018-12-14 15:39] PierreBesson opened #320 "[FEATURE] Support additional discovery and configuration systems (Consul & Kubernetes)"
##### **Overview of the issue**

See the related thread on the mailing list: https://groups.google.com/d/msg/jhipster-dev/DlF1PWnsXy0/5krUP1QdCAAJ

##### **Motivation for or Use Case**

Be able to use the registry UI when not using Eureka

[2018-12-23 20:26] mhewedy opened #321 "Configurations returned as xml"
##### **Overview of the issue**

When my app that contains the client config has jackson xml as a dependency then the accept header looks like: `application/xml, text/xml, application/json, application/*+xml, application/*+json`..
Config server inside the jhipste registry should ignores the application/xml, text/xml and uses application/json and return json, but it returns XML (which it should not

[2019-01-07 13:13] MetalMiner commented on #292
I could solve the issue. In `io.github.jhipster.registry.service.ZuulUpdaterService ` you initialize Zuul roots the following way:
`ZuulRouteDTO route = new ZuulRouteDTO(instanceId, "/" +
                    application.getName().toLowerCase() + "/" + instanceId + "/**",
                    null, url, zuulProperties.isStripPrefix(), zuulProperties.getRetryable(), null,
                    instance

[2019-01-16 17:13] somejavadev opened #323 "Micro service routes are still being registered in zuul for services filtered in consul"
#### **JHipster Info**

[jhipster-info.txt](https://github.com/jhipster/jhipster-registry/files/2765193/jhipster-info.txt)

##### **Overview of the issue**

Micro service routes are still being registered in zuul for services limited in consul via the ```default-query-tag``` property.

##### **Motivation for or Use Case**

I do not want all the services registered in consul to be listed and regist

[2019-01-20 21:39] ruddell opened #324 "Metrics Endpoint Changed (Micrometer)"
##### **Overview of the issue**
With the update to micrometer, the metrics endpoint changed from `/management/metrics` to `/management/jhi-metrics`.  We also may need to update the UI to match the new format (haven't looked closely at this issue).

##### **Motivation for or Use Case**
Metrics page does not work for new gateways/microservices

##### **Reproduce the error**
Generate an app that uses

[2019-01-28 14:19] #324 closed

[2019-01-29 10:08] #292 closed

[2019-02-01 18:55] M-Fararjeh opened #329 "jhipster-registry docker cannot authenticate to keycloak"
I started jHipster registry using docker, I update keycloak URL in YML file.
SECURITY_OAUTH2_CLIENT_ACCESS_TOKEN_URI=http://127.0.0.1:9080/auth/realms/jhipster/protocol/openid-connect/token
when jHipster started the authentication not working.
![image](https://user-images.githubusercontent.com/6216279/52143188-de090500-266b-11e9-8db4-4752ba59eb9c.png)

![image](https://user-images.githubuserconten

[2019-02-02 07:17] pascalgrimaud commented on #329
When you start the registry inside Docker, it will be in another network.
That means the Registry and Keycloak can't communicate.

To solve your issue, it depends on a lot of thing:
- what is your OS
- how do you start your Keycloak

[2019-02-02 10:56] M-Fararjeh commented on #329
No, same network.

I created monolithic application connected to keycloak, It works fine.

[2019-02-02 11:05] pascalgrimaud commented on #329
No, if you start your registry inside Docker and your keycloak in your host, the Docker container will be in another network, unless you modify it to specify the use of network host.

That's how Docker works.

As you didn't provide enought information, it is impossible to reproduce / help.

[2019-02-02 12:09] M-Fararjeh commented on #329
![image](https://user-images.githubusercontent.com/6216279/52164050-47d0ef80-26fc-11e9-86ca-bcc8e1e4f58b.png)

keycloak and registry started from container and in the same network.

[2019-02-12 14:18] bdulac commented on #235
For Ubuntu, there might be a point with the entry registered via an SSH session in *~/.ssh/known_hosts*.

[https://stackoverflow.com/a/44777270/1207019](https://stackoverflow.com/a/44777270/1207019)

The solution might be to generate the appropriate entry with the following command and append it to the file:

`$ ssh-keyscan -t rsa example.org >> known_hosts`

[2019-02-12 15:21] pdelaby opened #330 "ssh-keygen not present on container"
##### **Overview of the issue**
To use the registry with a git repository, ssh and docker, the "ssh" page ( http://myurl:8761/#/ssh) explain how to generate a key pair with "ssh-keygen" :

However, this command doesn't exist on the container.

##### **Motivation for or Use Case**

The documentation is detailed, so it shoud detail the steps to generate a keypair.

##### **Reproduce the error**

* S

[2019-02-15 02:41] yangyanqing commented on #235
I had tried this method before, but it does not work. And I found another
way as follow.

[image: image.png]

Bérenger Dulac <notifications@github.com> 于2019年2月12日周二 下午10:18写道：

[2019-03-01 15:28] pascalgrimaud opened #332 "Metrics : Remove invalid character from uri"
Following this PR https://github.com/jhipster/generator-jhipster/pull/9252
We have this code which won't work for applications with Spring Boot 2.1:
https://github.com/jhipster/jhipster-registry/blob/master/src/main/webapp/app/admin/metrics/metrics.service.ts#L13-L23

If we don't fix this issue, we won't be able to check metrics from the Registry.

The main problem is the Registry is not up-to-dat

[2019-03-01 15:28] pascalgrimaud commented on #332
cc @clement26695 @PierreBesson

[2019-03-07 23:05] jdevhari opened #333 "Jhipster registry unable to fetch configuration from Cloud foundry nodes"
##### **Overview of the issue**

When Jhipster application is deployed into Cloud foundry on multiple instances, jhipster is unable to fetch the configuration or health details from specific nodes.

I have configured the instance id as
[code]
However as per cloud foundry documentation [here](https://docs.cloudfoundry.org/concepts/http-routing.html#app-instance-routing), unless I set the instanceId

[2019-03-17 20:21] trixprod opened #336 "How to deal with registry timeouts issues ?"
Hello Jhipster,

I have observed in my logs two kinds of frequent issues, i guess they are timeout related issues because the registration to the registry is correct and all my services are communicating very well. ( i retry a call when nodes are too much occupied )

Unfortunatly some of these errors are very annoying, let's see some stacks

[code]
Here i got a read timed out while sending an Hear

[2019-03-19 13:55] vishal423 commented on #336
@trixprod, can you try reverting to below defaults as recommended in production to see if that helps:
[code]
This do have other side effects and would result into slow discovery of your services.

[2019-03-21 10:31] DenisThomas opened #338 "OAuth2 authentication betwwen registry and gateway"
#### jhipster info for the gateway :

##### **JHipster Version(s)**

[code]

##### **JHipster configuration, a `.yo-rc.json` file generated in the root folder**

<details>
<summary>.yo-rc.json file</summary>
<pre>
{
    "generator-jhipster": {
        "promptValues": {
            "packageName": "com.ins.gw",
            "nativeLanguage": "en"
        },
        "jhipsterVersion": "5.8.2",

[2019-03-26 05:24] shumybest commented on #165
we met the same problem here, any idea how to fix? (registry 4.1.1 + nodejs eureka client)

Full of NullPointerException:
![image](https://user-images.githubusercontent.com/4330435/54973304-45876500-4fca-11e9-80ab-36d9a90d17d8.png)

[2019-03-26 17:22] mraible commented on #338
If I understand this issue correctly, I believe it might be happening because JHipster Registry does not include global OIDC logout. Is that you can't log out of the registry the main issue?

[2019-03-28 16:59] DenisThomas commented on #338
No, my main issue is about I have to be logged in gateway to get metrics and/or configuration of gateway from registry. I guess that the problem of logout gateway / registry is a consequence of this.

There is another problem I did not talk here because I cannot reproduce at each time. Sometimes, when I start a service after I log in registry, I cannot get its metrics/configuration. I have to disc

[2019-03-28 17:46] ruddell commented on #338
I mentioned the [gateway login requirement here](https://github.com/jhipster/jhipster-registry/pull/322#issuecomment-453204748), I'm not sure of how to fix it though.

[2019-04-01 13:05] #246 closed

[2019-04-02 05:23] FalconIA commented on #321
same issue.

[2019-04-02 08:58] kalle2017 opened #341 "How to deal with multiple data sources problem in this framework?"
How to deal with multiple data sources problem in this framework? I find nothing usefully to deal with such problem. So, can you help to give some suggests!

[2019-04-02 09:01] jdubois commented on #341
There is no datasource configured on the registry, do you mean this for jhipster/generator-jhispter ?

I'm closing this as this is not a bug report, and is probably on the wrong repo anyway.

[2019-04-02 09:01] #341 closed

[2019-04-02 09:04] kalle2017 commented on #341
I mean that I want to use multiple datasouce in microservices and how should I do?

[2019-04-02 09:08] jdubois commented on #341
I'm sorry but this is the wrong repo (this is only for the registry), and this isn't a bug report but a general question.

Please have a look at https://www.jhipster.tech/help/ - I suggest you post this as a question on StackOverflow, this is the correct place for question, and this is were you will get the most help.

[2019-04-02 21:48] trixprod commented on #336
Hello, i've tested your solution.
Indeed, i have less errors in my logs but they are still present.

Also i have noticed in my jhipster registry an interesting behaviour.
When i click on the metrics of the services, i have to wait few seconds and the node is marked as down in metrics. ( not in the registry list )

I think this problem is related to the Heartbeat exception.
The node doesn't give an

[2019-04-03 18:21] trixprod commented on #336
Update about metrics node marked down.

I have setup some memory limitation by containers. ( i have a 64Go memory server now ... )
And now my nodes are no more marked down.

Explanation is simple :
=> Docker use as much memory as possible.
=> The system turns as starvation as no more memory is available for some tasks.

Limitating global docker memory usage could be a nice thing.
Note : i'm not us

[2019-04-03 18:38] vishal423 commented on #336
You can configure resources (memory, cpu etc) allocation on containers to limit use. Another option could be to limit heap size

[2019-04-05 00:46] walshe opened #342 "npm install not working - no ui"
runnign into all sorts of issues trying to npm install or yarm install, hence I get a blank UI when I access localhost:8761

[code]

[2019-04-05 01:13] walshe commented on #342
switched to node version 8.10.0 and could do an npm install successfully.. but when I start the registry with ./mvnw there is no UI at http://localhost:8761/ - just a blank screen ?

[code]

[2019-04-05 07:52] leratc commented on #165
git clone https://github.com/jhipster/jhipster-registry.git
cd jhipster-registry
./mvnw
(registry 4.1.1 )
=> bug with repeating log with these two lines.
2019-04-05 09:46:04.977 DEBUG 3708 --- [   scheduling-1] i.g.j.r.aop.logging.LoggingAspect        : Enter: io.github.jhipster.registry.service.ZuulUpdaterService.updateZuulRoutes() with argument[s] = []
2019-04-05 09:46:11.546 DEBUG 3708 --- [

[2019-04-05 08:00] PierreBesson commented on #165
@leratc Those are just debug logs ! Moreover please open a proper issue if you have a bug.

[2019-04-05 09:09] jdubois commented on #342
I'm sorry but you don't even tell which version you use, we can't help you if you don't follow a least a little bit the issue template

[2019-04-05 09:09] #342 closed

[2019-04-05 09:09] jdubois commented on #342
This ticket has been closed as the **guidelines are not followed**.

Tickets must follow our [Guidelines](https://github.com/jhipster/generator-jhipster/blob/master/CONTRIBUTING.md), as mentioned in:

1. our [Readme file on the front page of the project](https://github.com/jhipster/generator-jhipster/blob/master/README.md),
2. the ["create a new ticket" page](https://github.com/jhipster/generator-

[2019-04-06 00:12] walshe commented on #342
I cloned from master

[2019-04-06 01:10] walshe opened #343 "what version of npm yarn"
##### **Overview of the issue**

don't see any ui - just blank screen, wondering what version of Node/Npm/yarn I am supposed to be using.

Even with no registered microservices or gateway I asume I should still see a UI ?

##### **Motivation for or Use Case**

want to set up microservices arch with registry, gateway and microservice

##### **Reproduce the error**

##### **Related issues**

##### *

[2019-04-06 02:23] jdubois commented on #342
Maybe you cloned it on a day when the build was broken, there is no way for us to know. Please use a stable release and tell us the version used next time.

[2019-04-06 02:26] jdubois commented on #343
The version of Node+Yarn is automatically set up by Maven when you build, and Maven is embedded so its version is also fixed.
Please follow the guidelines: we need your version number to reproduce, and also what you did to build the app.
Please note we provide binaries and Docker images, which are all automatically built when we do a release: you should use them, and they do prove the builds work.

[2019-04-06 17:07] walshe commented on #343
where do I check version ? I just checked out from master and did ./mnvw which started up like below.. still no UI viewable though

[code]

[2019-04-06 17:21] jdubois commented on #343
The standard version number in package.json or pom.xml.

Anyway from what you write you didn't start the front-end, please look at the documentation. This depends on your version, but 'yarn start' should work.

[2019-04-06 17:21] #343 closed

[2019-04-06 17:54] walshe commented on #343
from package.json:

"name": "jhipster-registry",
  "version": "4.1.1",

I just started again with ./mvnw and from anther shell I did a npm install and then yarn start:

[code]

[2019-04-24 17:27] relio commented on #329
@M-Fararjeh, if you have followed the instructions provided by [keycloak](https://hub.docker.com/r/jboss/keycloak/) to set up your docker box, you should have created this network:

`docker network create keycloak-network`

If you inspect the keycloak container you should see its reference in the network part of the output:

`"Networks": {
                "keycloak-network": {`

If you have a stan

[2019-04-25 05:30] mraible opened #347 "Fix npm vulnerabilities"
##### **Overview of the issue**

If you run `npm install` on this project, there's quite a few vulnerabilities:

[code]

##### **Motivation for or Use Case**

We should not depend on vulnerable libraries.

[2019-04-26 08:47] #332 closed

[2019-04-28 09:42] mhewedy commented on #321
Any updates on this, this is causing a series issue for our jhipster apps

[2019-04-29 09:15] jdubois commented on #321
I'm sorry but as nobody says on the ticket he's working on this, I guess nobody does!

To be honest this isn't really clear to me, why are you adding ` jackson-dataformat-xml ` as a dependency? @mhewedy you seem to understand the issue quite well, would you be ready to contribute to the project?

[2019-04-29 16:05] mraible opened #353 "Release JHipster Registry 5.0.1"
* [ ] Update dependencies in `package.json` and `pom.xml` to use the same versions JHipster 6 uses
* [ ] Change version in `pom.xml` and `package.json` to be `5.0.1`
* [ ] Update Docker Compose files in generator-jhipster to reference the new version

[2019-05-02 11:02] jdubois commented on #353
Sorry @mraible I just released v5.0.0 and I missed this ticket -> I think it's all good, I did some testing this morning.

[2019-05-02 11:05] jdubois commented on #353
Concerning the point in docker-compose.yml I also found the same issue (and that's good, we both found out the same config so it should be good!), and that should also be added to the Kubernetes configuration.

-> let me do this, I'm waiting to have the Docker Hub build of JHipster Registry 5.0.0 to finish, and I'll do this (so probably this evening)

[2019-05-12 09:44] vwiencek opened #356 "Missing dependency NoClassDefFoundError: com/codahale/metrics/MetricRegistry"
##### **Overview of the issue**

JHipster-registry fails to start with docker-compose configuration `jhipster-registry.yml`

##### **Motivation for or Use Case**

JHipster-registry seems to be failing in certain situations

##### **Reproduce the error**
my `jhipster-registry.yml` file
[code]

then start the docker server with 'docker-compose -f hipster-registry.yml up' and I get the following erro

[2019-05-14 11:38] pdelaby commented on #356
I have the same issue.

For me, the problem came from the following shared configuration (in central-config or git config)
[code]
There is a workaround :  I created a specific configuration for the registry to disable this value.

1. Create a file (registry.yml) in the configuration folder/repository with this specific configuration set to `false`
[code]
2. Then  and add a profile to the registry

[2019-05-14 16:08] clement26695 commented on #356
I think we removed by error one of the dropwizard dependency that was needed to export the metrics in the logs. Adding it should solve the issue.

I'll take a look tomorrow

[2019-05-14 16:15] mraible commented on #356
I removed these dependencies when I [upgraded to JHipster 6](https://github.com/jhipster/jhipster-registry/pull/334) since we use Micrometer now. Why are dropwizard dependencies still needed?

[2019-05-15 07:57] clement26695 commented on #356
It is needed here: https://github.com/jhipster/jhipster/blob/master/jhipster-framework/src/main/java/io/github/jhipster/config/metric/JHipsterLoggingMetricsExportConfiguration.java, in order to use this https://micrometer.io/docs/guide/consoleReporter, which is needed to make the JHipster console work.

I think it is the only place it is needed, but I may have misconfigured it.

[2019-05-15 12:35] PierreBesson commented on #356
Please use a more recent docker-compose file generated by a recent version of jhipster. As the properties have changed in recent version.

    #     - SPRING_CLOUD_CONFIG_SERVER_COMPOSITE_0_TYPE=native
    #     - SPRING_CLOUD_CONFIG_SERVER_COMPOSITE_0_SEARCH_LOCATIONS=file:./central-config

If you comment those lines then the registry will be unable to configure itself via the central-config dire

[2019-05-15 13:02] vwiencek commented on #356
I realise now it's not the reason indeed.

I used the 6.0.0 version of hipster to generate the docker-compose file ; I'll try to reproduce with the 6.0.1 tomorrow.

thanks for your time

[2019-05-17 14:09] mraible commented on #356
I generated a microservices architecture with JHipster 6.0.1 today and indeed everything fails to work because of this issue.

[code]

This is a major issue IMO.

[2019-05-17 14:11] mraible commented on #356
The strange thing is this error doesn't happen when I run it for development:

[code]

I tried the `prod` profile and it still starts successfully.

[2019-05-17 14:15] mraible commented on #356
I can reproduce the issue using the following command:

[code]

Now the question is, do we just add metrics back in as a dependency, or do we need to refactor things to work with Micrometer? @jhipster/developers

[2019-05-17 14:18] PierreBesson commented on #356
I don't understand. Do you guys mean that the jhipster-registry cannot start at all in v6.0.1 ? Or is it just when enabling log reporting to logstash ?

[2019-05-17 14:20] PierreBesson commented on #356
@clement26695, can you try to fix the bug in the coming days/week as I'm going to leave for vacation tomorrow ?

[2019-05-17 14:20] mraible commented on #356
@PierreBesson When I create a microservices stack with the following config, it doesn't run in Docker Compose.

[code]

[2019-05-17 14:49] PierreBesson commented on #356
Well in this case you know what to do 😉.

[2019-05-18 22:48] mraible commented on #356
Fixed by https://github.com/jhipster/jhipster-registry/pull/357.

[2019-05-18 22:48] #356 closed

[2019-05-18 22:49] mraible commented on #329
This configuration has changed for JHipster Registry 5.0.0. Can you try with the latest release?

[2019-05-18 22:49] mraible commented on #353
Since this never got closed with 5.0.0, I updated it for 5.0.1. We should do a release because of https://github.com/jhipster/jhipster-registry/issues/356.

[2019-05-19 06:26] pascalgrimaud commented on #353
@mraible : I'll take care of this release

[2019-05-19 08:00] pascalgrimaud commented on #353
Done here: https://github.com/jhipster/jhipster-registry/commit/7281d2e0e780f3f42ba95bc670509e62843aa425

[2019-05-19 08:00] #353 closed

[2019-05-19 08:03] pascalgrimaud commented on #353
I'm waiting the new version v5.0.1 at Docker Cloud, then, I'll update the version at generator-jhipster

[2019-05-21 12:20] clement26695 opened #359 "Setting up Jhipster-registry for Azure Pipelines"
##### **Overview of the issue**
Since Travis future is now uncertain, we should progressively migrate our CI to Azure Pipelines like we did for the generator or prettier-java.

##### **Motivation for or Use Case**

Travis is not doing well.
Azure Pipelines can have up to 10 parallel jobs (5 for Travis)

[2019-05-28 15:49] ivan86to opened #361 "JHipster registry error 500 in call management services"
##### **Overview of the issue**

NullPointerException in
io.github.jhipster.registry.security.oauth2.OAuth2ClientCredentialsService because retrieveNewAccessToken method have call to UAA commented.

[code]

##### **Reproduce the error**
Generate Gateway + UAA
Jhipster registry in Administration -> Metrics, Logs ect..
Error 500 NullPointerException when call

##### **Related issues**
#313
##### **S

[2019-05-29 05:17] tinmegali commented on #330
The problem was already fixed:
https://github.com/jhipster/jhipster-registry/commit/e3749609adccbec66dbfe0ee879a58cf3e255bdd

[2019-06-01 11:42] GLinBoy opened #362 "Calling API get 401 error with jhipster registry 5 ( and also 5.0.1)"
Hi
I run Jhipster registry with docker and also from source code, but when I calling APIs from swagger it gets 401 error:
Response Body:
[code]
Response Code:
`401`
Response Headers:
[code]

Note: I test it with my app (generated by jhipster 5) that run fine with jhipster registry 4.1.1 and when I use 5.0.0 to up I got this error. I test with a sample app generated with jhispter 6.0.1 and the resu

[2019-06-04 03:33] zackfei opened #363 "jhipster registry v5 unable to get loggers"
##### **Overview of the issue**

Unable to get the loggers and change log level for microservice that register into registry.

1. Pull and start the jhipster-registry v5.0.1 from docker hub.
2. Use the jhipster CLI v6.0.1 to generate a Microservice gateway project and register into jhipster-registry v5.0.1.
3. Login jhipster-registry, goto the menu Administration > Loggers, select the gateway micr

[2019-06-04 13:20] clement26695 commented on #363
You're right. I made a PR to fix it.

Thanks for reporting the bug !

[2019-06-05 11:50] PierreBesson commented on #363
Fixed in #364

[2019-06-05 11:50] #363 closed

[2019-06-05 12:40] #359 closed

[2019-06-10 05:27] zackfei commented on #363
what is the target date to release this fixes for docker version?

[2019-06-10 07:39] jdubois commented on #363
@zackfei Maybe tomorrow as some of us will meet in Paris, but we never commit on dates as we mostly do this on our free time

[2019-06-10 18:38] pascalgrimaud commented on #175
Closed by https://github.com/jhipster/jhipster-registry/pull/365

[2019-06-10 18:38] #175 closed

[2019-06-11 08:32] yorkwu1977 opened #367 "Jhipster Registry query Metircs of microservice is failure."
##### **Overview of the issue**

When I click [administration -  metrics] menu in jhipster-registry,  and chose to view metrics of A microservice, response error info:

{error:'invalid_token', error_description:'Cannot convert access token to JSON'}
Error: "invalid_token"
Error_description: "Cannot convert access token to JSON"

When I chose to view metrics of gateway, everything was fine.

all of

[2019-06-11 12:27] PierreBesson commented on #367
Please provide relevant yo-rc.json files so that we can reproduce your bug.

[2019-06-11 12:28] PierreBesson commented on #367
Anyway I don't think this feature works for UAA.

[2019-06-12 03:35] yorkwu1977 commented on #367
I provide relevant yo-rc.json files on the top of page。
I modified jhipster-registry' boostraps-prod.yml  to use Uaa:

[code]

[2019-06-12 04:54] PierreBesson commented on #367
Ping @xetys

[2019-06-12 04:59] PierreBesson commented on #323
Sorry for not responding before but as far as I can tell this issue is invalid because it is related to Consul which the jhipster registry doesn't support. Also I don't understand the problem at all.

[2019-06-12 04:59] #323 closed

[2019-06-12 05:06] PierreBesson commented on #321
This is an interesting bug. It seems it was fixed upstream https://github.com/spring-cloud/spring-cloud-config/pull/1171
So newer version of spring cloud config client should not have the issue.

[2019-06-12 05:06] #321 closed

[2019-06-12 05:16] PierreBesson commented on #336
Indeed an Eureka setup takes some memory to run properly and fine tuning. It is not a problem to have timeouts, network issues, slowness for initial registration, etc., as Eureka is designed for availability rather than consistency.

@trixpod I think your issue is not really reporting any actual bug. We could improve the docs on using/operating Eureka. I recognize it can be quite tricky but this i

[2019-06-12 05:21] PierreBesson commented on #298
I don't see why we should support Tomcat. We already provide a jar deployments and a docker image which uses an embedded undertow.

I'm closing this issue as we are not going to support this method of running the registry.
I don't know much about Elastic Bean Stalk but it should be able to run docker containers just fine.

[2019-06-12 05:21] #298 closed

[2019-06-12 05:22] PierreBesson commented on #367
It seems to be a duplicate of #361

[2019-06-12 09:35] yorkwu1977 commented on #367
#361: response code was 500,  my issues response code was 401.

[2019-06-17 13:30] gabsone commented on #361
Hi!,
some issue ... how to resolve ?

[2019-06-17 14:21] ivan86to commented on #361
In class io.github.jhipster.registry.security.oauth2.OAuth2ClientCredentialsService uncomment row from 64 to  71 for re-enable call to uaa service

[2019-06-19 07:31] gabsone commented on #361
Hello thanks for the help,
now no longer exceptions are thrown, but when I select metrics or swagger api from the combobox, the registry logs out

[2019-07-01 14:48] pdelaby opened #371 "CORS problems since 5.0.0 on management and config endpoints"
##### **Overview of the issue**

Since v5.0.0, the registry served behind a traefik proxy (or letsencrypt)  on docker seems to have CORS issues on post methods ( `authenticate`, `config/encrypt`, `management/loggers`

Sample configuration
[code]

The configuration worked in previous versions, but a http 403 'invalid cors request' is now returned.

I added
[code]
in the docker-compose, and it fixed

[2019-07-24 12:09] trixprod commented on #336
Hello @PierreBesson , the issue can be closed but i think we really need more documentation to better understand all timeouts used by Jhipster.

I know that we already have documentation on Eureka, Ribbon, but as Jhipster use all these technos i think we deserve some words about it.

[2019-07-24 12:09] #336 closed

[2019-07-24 12:22] PierreBesson commented on #336
Feel free to open a PR on https://github.com/jhipster/jhipster.github.io/ either on the registry page or in the tips section.

[2019-07-31 10:49] RaviGithub555 commented on #279
Hi Team,
Any body help me solve below issue.

Error creating bean with name 'io.github.jhipster.config.JHipsterProperties': Could not bind properties to 'JHipsterProperties' : prefix=jhipster, ignoreInvalidFields=false, ignoreUnknownFields=false; nested exception is org.springframework.boot.context.properties.bind.BindException: Failed to bind properties under 'jhipster' to io.github.jhipster.conf

[2019-07-31 11:14] PierreBesson commented on #279
Please don't comment on an **old issue**.
If you think this issue still applies, please [create a new ticket](https://github.com/jhipster/generator-jhipster/issues/new) with proper details.

**If you have a question** please use Stack Overflow, and tag the question with [jhipster](http://stackoverflow.com/questions/tagged/jhipster). This helps the project to keep the issue tracker clean. Also, Sta

[2019-07-31 12:54] RaviGithub555 opened #373 "Hi Team,"
Hi Team,
Any body help me solve below issue.
I am not using any linux or docker, I am using windows, Is this issue?

Error creating bean with name 'io.github.jhipster.config.JHipsterProperties': Could not bind properties to 'JHipsterProperties' : prefix=jhipster, ignoreInvalidFields=false, ignoreUnknownFields=false; nested exception is org.springframework.boot.context.properties.bind.BindException

[2019-07-31 17:03] pmverma commented on #373
Check the comment at https://github.com/jhipster/jhipster-online/issues/121#issuecomment-516934113

[2019-07-31 17:04] #373 closed

[2019-08-09 14:09] antaka1 commented on #371
+ 1 here. Working before 5.0.0, now got invalid cors request at login

[2019-08-09 14:24] vishal423 commented on #371
As per current implementation, configurable `CORS` settings are applied against following URI patterns in the `WebConfigurer`. If your URL path doesn't match against these patterns, then, the default `CORS` configuration is applied that deny the incoming request with 403.

[code]
To support customization, I think we can externalize these URL patterns like other CORS settings.

[2019-08-30 15:08] gabsone opened #377 "Unable to build docker image"
##### **Overview of the issue**
when try to build docker image with command:
`docker build .`
i get this error:
`/bin/sh: 1: ./mvnw: not found
The command '/bin/sh -c apt-get update &&     apt-get install build-essential -y &&     cd /code/ &&     rm -Rf target node_modules &&     chmod +x /code/mvnw &&     sleep 1 &&     JHI_DISABLE_WEBPACK_LOGS=true ./mvnw package -ntp -Pprod -DskipTests &&

[2019-08-30 19:41] ruddell commented on #377
Can you please add all of the steps to reproduce, starting from an empty directory?  Cloning this repository and running `docker build .` works on my end.

If `./mvnw` is not found, did the [previous step](https://github.com/jhipster/jhipster-registry/blob/master/Dockerfile#L2) of adding this repository code into the docker image succeed?

[2019-08-30 19:44] gabsone commented on #377
Hi,
I only cloned the repo and try to build.
The mvnw file is present and all previous command are executed correctly.

Thanks.

[2019-09-16 10:07] jkoorts opened #380 "Can not upgrade to jhipster 6.3.0"
##### **Overview of the issue**

I clone a fresh copy, see its 6.0.0 beta and try to upgrade

##### **Motivation for or Use Case**

There is a major security issue with jhipster 6.2.0 and earlier

##### **Reproduce the error**

C:\testjhipster>git clone https://github.com/jhipster/jhipster-registry.git
Cloning into 'jhipster-registry'...
remote: Enumerating objects: 40, done.
remote: Counting obje

[2019-09-16 11:01] jdubois commented on #380
This is the JHipster Registry, it is not affected by this vulnerability, so there shouldn't be any issue.

[2019-09-16 13:58] jkoorts commented on #377
Not working for me as well. Both for the Dockerfile in root and in /src/main/docker.

#######
What is the difference between the two eg. when do you use the one and not the other? Drives me nuts not knowing the answer.
#######

My setup: Win 10 with docker for windows using Linux containers:

My steps:

C:\>mkdir testy

C:\>cd testy

C:\testy>git clone https://github.com/jhipster/jhipster-registry

[2019-09-16 13:59] jkoorts commented on #377
Here the steps for the other Docker file:

C:\testy\jhipster-registry>cd src/main/docker

C:\testy\jhipster-registry\src\main\docker>docker build .
Sending build context to Docker daemon  68.61kB
Step 1/10 : FROM openjdk:11-jre-slim-stretch
 ---> a71b975306d9
Step 2/10 : ENV SPRING_OUTPUT_ANSI_ENABLED=ALWAYS     JHIPSTER_SLEEP=0     JAVA_OPTS=""
 ---> Using cache
 ---> 8d7aac79cadb
Step 3/10 : RUN

[2019-09-16 16:06] ruddell commented on #377
I still can't reproduce any issue with the Dockerfile present at the root of this project.  Regarding `src/main/docker/Dockerfile`, that one does not build (fails with the same error as the previous message).

It may have to do with Windows, I tested on Mac.  @jkoorts uses Windows but not sure about @gabsone.

[2019-09-17 09:46] S7range opened #381 "getting unkownHostException with jhipster gateway"
I am creating a micro-service-based application and I have multiple micro-services I need to use. but I cannot seem to do it properly.  I created a gateway and a UAA for user micro-services.

I created a gateway and a UAA for user micro-services and eureka as service discovery and I am using restTemplate to connect to other services. I have searched for a solution a lot. I found a few but none hav

[2019-09-18 05:58] S7range commented on #381
I found what was my problem.

[2019-09-18 05:58] #381 closed

[2019-09-30 00:24] yzhivkov opened #383 "When using oauth2 profile service calls return 401"
##### **Overview of the issue**

When microservices and jhipster-registry are running with the oauth2 profile the registry is not able to call the services due to the token type being the object name instead of the value of the token type
`"authorization: org.springframework.security.oauth2.core.OAuth2AccessToken$TokenType@765cef81 eyJhbGciOiJSU...`
Also, if a JWT token is used to access the servi

[2019-09-30 00:29] mraible commented on #383
I just tried this a couple weeks ago and it worked fine. Please include steps to reproduce your issue.

[2019-10-01 07:40] yudar1024 commented on #362
same issue here

[2019-10-02 06:55] aanno2 opened #385 "OAuth2 does not work"
I'm using jhipster-registry with a self-hosted keycloak. I have run v4.0.4 and v4.1.1 without problems in this scenario.

However, I now want to update to v5.0.2 (I also tried master). When I try to login (jhipster-registry running with profile 'oauth2'). I always see: '[invalid_id_token]'.

I spent a few minutes on debugging this. Code uses InMemoryDetailsManager with the only user filled in is a

[2019-10-02 12:40] mraible commented on #385
Yes. I've tested it with both Keycloak and Okta. You can see it works in this screencast:

https://youtu.be/ez7HMO60kE8

[2019-10-04 14:48] #329 closed

[2019-10-08 07:37] aanno2 commented on #385
Well, I'm unconvinced. If I got the video right, you access jhipster-registry through jhipster-gateway (?!?). This is _not_ my useage scenario - I want to access jhipster-registry (ui) directly (and being redirected to OpenId/OAuth2 server in case I'm not logged in). Jhipster-registry v5.0.2 does not do this (but it has worked in v4.1.1). When I try to access jhipster-registry v5.0.2 directly, I a

[2019-10-08 13:38] mraible commented on #385
I access JHipster Registry directly, using port 8761. It redirects to Keycloak or Okta, depending on which one is configured.

[2019-10-09 08:03] aanno2 commented on #385
Well, I tried this several times and it has _not_ worked for me. But I will retry it again.

What about the other things I mentioned? Have you created another user in Keycloak with Role ROLE_ADMIN? Has this user been able to user the registry? Do you agree with having a 'automatic' user admin/admin is a security problem?

[2019-10-10 13:09] durantieu commented on #377
Mine problem too!
Anybody knows which script should I have run to build a docker image of  jhipster-registry?

[2019-10-10 13:11] jkoorts commented on #377
get image from the docker registry. Leave the git project alone is my experience

[2019-10-10 13:11] durantieu commented on #377
I got an image by pulling it from docker-hub but what if I want to build that by using the /taget/*.jar generated from source code?

[2019-10-11 03:26] yudar1024 opened #387 "please support nacos configuration center"
##### **Overview of the issue**

please support nacos configuration center

##### **Motivation for or Use Case**
in most real case, microservice architect use nacos or appollo as configuration center.  git configuration center can not use product env.

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Registry Version(s)**

##### **Browsers and Oper

[2019-10-11 06:23] pascalgrimaud commented on #387
duplicate https://github.com/jhipster/generator-jhipster/issues/10597

[2019-10-11 06:23] #387 closed

[2019-11-05 21:31] pchrzasz commented on #383
I also noticed this issue with latest jhipster-registry:5.0.2

[2019-11-06 10:36] vaibhav6233m commented on #362
Same thing happening for me as well in `6.2.0` & `6.3.1`

[2019-11-11 20:22] juliensadaoui opened #391 "Sync with JHipster 6.5.0"
#### **Overview of the issue**

I open this ticket to sync the registry with jhipster 6.5.0
Below, please find a list of major changes.

- Update JHipster Core version to 3.0.7
- Update Spring Boot version to 2.1.10
- Update Node version to 12.13.0
- Use NPM as default package manager
- Upgrade from Angular 7 to Angular 8
- Lazy load admin and registry modules (angular)
- RxJS 6+ : use pipes to li

[2019-11-11 20:26] pascalgrimaud commented on #391
As it's a lot of work to achieve this, I'm putting a bounty on this

[2019-11-14 09:13] aanno2 commented on #391
Yes, that would be fine. However, I see some problems in what to do:

* What to do with the _one-auth-should-rule-them-all_ problem mentioned at https://github.com/jhipster/jhipster-registry/pull/390#issuecomment-550969107 ?
* What about the test user problem mentioned at https://github.com/jhipster/jhipster-registry/pull/390#issuecomment-550950936 ?
* How to rectify OAuth2 support (subject of PR

[2019-11-20 14:01] rainerh opened #393 "DEBUG is enabled by default for io.github.jhipster"
##### **Overview of the issue**

Current log settings 'pollutes' the log files with many DEBUG messages.

##### **Motivation for or Use Case**

Lots of DEBUG messages in the log files

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

src/main/resources/logback-spring.xml contains the following DEBUG logger configuration:
`<logger name="io.github.jhipster" level="DE

[2019-11-27 04:19] zackfei opened #396 "[v5.0.2] NullPointerException at registry console Administration > Metrics screen"
##### **Overview of the issue**

Not able to view the metrics of the instance registered into jhipster registry.

I'm setup [microservice with Jhipster UAA](https://www.jhipster.tech/using-uaa/) architecture.
I'm login to jhipster registry, navigate to "Administration > Metrics", select instance others than jhipster registry from dropdown, the screen no show the correct result.

Below is the stack

[2019-11-28 13:24] PierreBesson commented on #393
I agree with you that it's actually not a good practice at all.

[2019-11-28 14:57] xetys commented on #396
could you try this with the registry from #392
it should be fixed there

[2019-11-29 03:12] zackfei commented on #396
@xetys sorry, I'm using the docker image currently, not build the code manually. Can I know when the docker image will release?

[2019-11-29 07:53] xetys commented on #396
Just let this issue open. When we release the new registry I'll try your steps and close this if it's fixed

[2019-11-29 10:07] msyzzm commented on #361
Same issue in image: jhipster/jhipster-registry:v5.0.2

[2019-11-29 10:26] msyzzm commented on #396
I'm using the docker image too.
Can previous version work good?

[2019-12-06 13:50] PierreBesson opened #397 "Remove "Deploy to Heroku" button"
The feature is unmaintained and an additional burden to keep because of the master/develop branch separation.

[2019-12-06 13:52] jdubois commented on #397
You need to check with @jkutner because I believe he maintains it.
But yes we should focus on having a great Docker image that could be deployed anywhere (including Heroku) with little effort.

[2019-12-06 14:11] PierreBesson commented on #397
I already ping him with no answer a week ago [jhipster/jhipster-registry/pull/395#issuecomment-559491625](https://github.com/jhipster/jhipster-registry/pull/395#issuecomment-559491625).
In the end, using this button doesn't fit into any development workflow that I know of and also we focus more on docker and kubernetes.

[2019-12-06 14:47] mraible commented on #397
I used it a couple years ago and it worked great. Also, this Heroku article that Julien wrote uses it. I think it's a slick feature.

https://blog.heroku.com/bootstrapping_your_microservices_architecture_with_jhipster_and_spring

[2019-12-06 15:51] PierreBesson commented on #397
This article is from 2016

[2019-12-06 16:00] mraible commented on #397
True. But I wrote one in 2018 and used the same button. It worked fine.

https://developer.okta.com/blog/2018/03/01/develop-microservices-jhipster-oauth#deploy-to-heroku <https://developer.okta.com/blog/2018/03/01/develop-microservices-jhipster-oauth#deploy-to-heroku>

Why remove something that works? If it doesn’t work, that’s a different story.

[2019-12-06 16:34] jkutner commented on #397
@PierreBesson where you expecting a response from me on https://github.com/jhipster/jhipster-registry/pull/395#issuecomment-559491625?

[2019-12-06 16:35] jkutner commented on #397
@PierreBesson my change in role at Heroku has no bearing on my ability to support the JHipster Heroku integration.

[2019-12-06 16:43] PierreBesson commented on #397
That's good to hear @jkutner :smiley:. I did not expect such a strong support for this feature. I am reconsidering my idea. Let's keep this.

[2019-12-06 16:43] #397 closed

[2019-12-06 16:43] PierreBesson commented on #397
Sorry I thought I had asked you directly.

[2019-12-06 16:43] jkutner commented on #397
@PierreBesson what master/develop branch thing are you talking about? The Heroku Button uses a buildpack pulls in the latest release:
https://github.com/jhipster/jhipster-registry-buildpack/blob/master/bin/compile#L19

[2019-12-06 16:54] PierreBesson commented on #397
Oh really ! I think everyone including @jdubois @pascalgrimaud were under the impression that we must not merge  jhipster registry PRs into master before the release in fear of breaking the heroku button. So it seems this is no longer the case right now. Thanks!

[2019-12-06 17:05] jkutner commented on #397
@PierreBesson oh, that may have been true a few years ago. probably my bad for not making it clear that things had changed.

[2019-12-06 17:09] SudharakaP commented on #397
Hey everyone; I think this is the same thing with the GCP button; #395; After we resolve those problems in the GCP button side I think we can add it without effecting Heroku or creating separate branches. Is this something you guys are interested in? 😄

[2019-12-06 17:15] PierreBesson commented on #397
Yes @SudharakaP please open an issue.

[2019-12-06 17:46] SudharakaP opened #398 "Add Google Cloud Run Deploy Button"
##### **Overview of the issue**

I tried to do this on https://github.com/jhipster/jhipster-registry/pull/395 but ran into some problems both with the Google Cloud Run Button side which we've discussed at https://github.com/GoogleCloudPlatform/cloud-run-button/issues/112 and on the JHipster Registry side which @jkutner is woking on at https://github.com/jhipster/jhipster-registry-buildpack/issues/

[2019-12-06 19:13] mraible commented on #398
If you run into issues, you might ask @jamesward for help.

[2019-12-06 19:15] jkutner commented on #398
I've fixed and merged https://github.com/jhipster/jhipster-registry-buildpack/issues/3 so the `app.json` in this repo should be testable now.

[2019-12-07 06:45] pascalgrimaud commented on #397
it means we don't need develop branch anymore. So let's work on the Registry and delete the develop branch once everything is merged, specially the migration to JH 6.5.0

[2019-12-11 19:06] SudharakaP opened #400 "JHipster Registry doesn't work with Google App Engine"
##### **Overview of the issue**

It seems that JHipster Registry has problems with deploying in Google app engine, which I am currently trying to solve. The error we are getting trying to do a deployment is,

[code]

Feel free to assign this issue to me as I am currently investigating it. 😄

##### **Motivation for or Use Case**

We need this for, https://github.com/jhipster/generator-jhipster/issu

[2019-12-15 08:23] pascalgrimaud commented on #347
Closed by https://github.com/jhipster/jhipster-registry/pull/392

[2019-12-15 08:23] #347 closed

[2019-12-15 08:23] pascalgrimaud commented on #362
Closed by https://github.com/jhipster/jhipster-registry/pull/392

[2019-12-15 08:23] #362 closed

[2019-12-15 08:23] pascalgrimaud commented on #380
Closed by https://github.com/jhipster/jhipster-registry/pull/392

[2019-12-15 08:23] #380 closed

[2019-12-15 08:23] pascalgrimaud commented on #383
Closed by https://github.com/jhipster/jhipster-registry/pull/392

[2019-12-15 08:23] #383 closed

[2019-12-15 08:23] pascalgrimaud commented on #396
Closed by https://github.com/jhipster/jhipster-registry/pull/392

[2019-12-15 08:23] #396 closed

[2019-12-15 08:34] pascalgrimaud commented on #391
I'm increasing the bounty as it required a lot of work to do this upgrade, and it's not finished yet.
I saw some fix to do before closing this.
I'm currently working with @juliensadaoui to fix the last minor issue we saw

[2019-12-16 08:25] yotamshapira opened #403 "Releases of v6.0.0 and v6.0.1 don't show in releases page"
##### **Overview of the issue**

Hi,

The releases page ( https://github.com/jhipster/jhipster-registry/releases ) shows that the latest release is v5.0.2 . However, tags for v6.0.0 and for v6.0.1 are also shown, but not as official releases. From my personal experience, this is caused by deleting releases from the releases page.
Are these officially released versions? If so, is it possible to set

[2019-12-16 08:46] pascalgrimaud commented on #403
I didn't do it yet, as there is no official release of generator-jhipster, which uses jhipster-registry v6.0.1
So for now, no official release, but feel free to test it and give feedback

[2019-12-16 13:43] xetys commented on #367
This should be now resolved by #392

[2019-12-16 13:43] #367 closed

[2019-12-17 08:34] pascalgrimaud commented on #391
thanks a lot for your hard work @juliensadaoui
Don't forget to claim the bounty, it's well deserved !!

[2019-12-17 08:34] #391 closed

[2019-12-19 20:48] pascalgrimaud opened #404 "Update to Swagger UI 3"
Following https://github.com/jhipster/generator-jhipster/pull/10567

It is important to have Swagger UI 3 in the Registry too

[2019-12-20 23:37] juliensadaoui commented on #361
Fixed by #392 cc @pascalgrimaud

[2019-12-21 00:08] #361 closed

[2019-12-21 18:20] #404 closed

[2020-01-01 12:57] DocsWebApps opened #409 "Blank Registry/Replicas Page in a 3 instance set"
##### **Overview of the issue**
Hi all,

I have a blank registry/replicas page when trying to link up 3 separate JHipster Registry instances for replication.

##### **Motivation for or Use Case**
I'd like to see all the replicas in my set displayed.

##### **Reproduce the error**
Can easily be reproduced with multiple registries.

##### **Related issues**
I have looked but didn't find anything rel

[2020-01-04 17:17] pascalgrimaud commented on #403
It should be good at https://github.com/jhipster/jhipster-registry/releases/tag/v6.0.2

[2020-01-04 17:17] #403 closed

[2020-01-04 17:21] #409 closed

[2020-01-07 23:40] SudharakaP commented on #400
We need to adjust some things in order for the registry to be deployed to GAE. In the above PR, I've removed some logging (since we cannot write to the GAE filesystem) and added some sample settings so that users can deploy the registry easily by changing some minor config values. I'll add this information to the documentation as well. :smile:

[2020-01-09 15:14] JeremieLapert opened #414 "Error when Using the pre-packaged JAR file version 6.0.2"
##### **Overview of the issue**
I download JHipster Registry executable on this [ Releases page](https://github.com/jhipster/jhipster-registry/releases) .

I follow the documentation about [JHipster Registry](https://www.jhipster.tech/jhipster-registry/) and when i try to run the jar, i obtain this error :
`zsh: erreur de format pour exec(): ./jhipster-registry-6.0.2.jar`

However, when i run :
[c

[2020-01-11 07:24] SudharakaP commented on #414
This is due to our removal of the executable jar by default; https://github.com/jhipster/generator-jhipster/issues/10255

@saturnism @PierreBesson : I think we should change the documentation and keep the non-executable jar as it is since there's a possibility that a user might want to deploy the registry using buildpacks? :thinking:  Let me know if you disagree. :smile:

[2020-01-13 06:57] #414 closed

[2020-01-17 17:36] #400 closed

[2020-01-20 10:42] zackfei opened #415 "[v6.0.2] Invalid CORS request for `/config/encrypt`"
##### **Overview of the issue**

Invalid CORS request for ```/config/encrypt``` when using reverse proxy setup to jhipster registry.

##### **Motivation for or Use Case**

##### **Reproduce the error**

- docker-compose -f jhipster-registry.yml up -d, enabled the "ENCRYPT_KEY"
- setup a web server, and reverse proxy to jhipster-registry
- Access the navigation "Configuration > Encryption", try to

[2020-01-21 22:46] DanielFran commented on #393
Close via #392

[2020-01-21 22:46] #393 closed

[2020-01-22 15:37] ruddell opened #416 "Refreshing or direct navigation returns error page"
##### **Overview of the issue**
Refreshing any page (except the home path `/`) results in a 401 error.  You also can not directly navigate to a page such as http://localhost:8761/registry/config

##### **Motivation for or Use Case**
Refreshing and navigating directly to pages should work as expected

##### **Reproduce the error**
Start the registry with the default configuration (locally or via do

[2020-01-23 05:00] hmenorjr opened #418 "Current master branch is throwing an error."
##### **Overview of the issue**

Recently cloned a new one on my local. When executing `./mvnw` it throws the following error:
[code]
JHipster-registry is the same version which is
[code]

##### **Motivation for or Use Case**

Using this for a microservice web application I'm building

##### **Reproduce the error**

1. Create a microservice gateway by executing `jhipster` on the gateway folder.
2.

[2020-01-23 05:15] SudharakaP commented on #418
@hmenorjr : Did you try setting JAVA_HOME ? :smile:

https://stackoverflow.com/questions/51631346/maven-3-8-0-compiler-fatal-error-compiling-release-version-11-not-supported

[2020-01-23 14:33] ruddell commented on #418
Kind of related, it also doesn't work out-of-the-box for Java 8.  I had to change the `<java.version>11</java.version>` to `<java.version>8</java.version>` and remove `<release>${java.version}</release>` from the `maven-compiler-plugin` configuration to get it to start up.

[2020-01-24 07:10] pascalgrimaud commented on #418
Well, I understand the issue as this project needs Java11 and it isn't mentionned. Anyway, we will remove the support of Java8 very soon in all our JHipster projects, as it requires a lot of work / tests to support both.
So I suggest you to upgrade to Java11.

[2020-01-24 14:40] pascalgrimaud commented on #416
cc @juliensadaoui
What do you think ? Can you have a look on this plz ?

[2020-01-24 20:16] juliensadaoui commented on #418
I'm sorry. I decided that the baseline version is Java 11. All our build with the jhipster registry are executed with AdoptOpenJDK 11. We can't guarantee it works with Java 8 ...

[2020-01-26 09:59] juliensadaoui commented on #416
Refreshing or direct navigation works with OAuth profile. There is an incoherence between JWT and OAuth2 security configuration, these two configurations must be identical. I think that the reason was to secure all URLs by default.

[2020-01-26 14:09] #415 closed

[2020-01-26 14:11] #416 closed

[2020-01-26 14:42] pascalgrimaud commented on #418
I think we can close this, as you need to use Java 11 to build.

[2020-01-26 14:42] #418 closed

[2020-01-27 06:06] hmenorjr commented on #418
Thanks for the update guys. I'll inform my developers to update OpenJDK11 if management decides to push with the JHipster route.

[2020-01-27 14:55] arjundevrana opened #421 "Request execution error in eureka"
I am working with the default setting. But I am not able to start my project

<pre><font color="#717171">2020-01-27 20:21:52.777 </font><font color="#4E9A06"> INFO</font> <font color="#75507B">17171</font> --- [  restartedMain] <font color="#06989A">com.netflix.discovery.DiscoveryClient   </font> : Force full registry fetch : false
<font color="#717171">2020-01-27 20:21:52.777 </font><font color="

[2020-01-31 14:37] sazeez opened #422 "Links for logs and loggers are incorrect"
##### **Overview of the issue**
Links for logs and loggers seem to be swapped. When clicking on logs, the logger screen is displayed and vice-versa.

##### **Motivation for or Use Case**
The links should display information per navigation bar.

##### **Reproduce the error**
I checkout v6.0.2 tag from github, and ran jHipster in development mode (./mvnw -Pdev,webpack).

##### **Related issues**
Non

[2020-02-01 12:53] juliensadaoui commented on #421
As you give no information I can't help you.

Tickets must follow our [Guidelines](https://github.com/jhipster/jhipster-registry/blob/master/CONTRIBUTING.md#-submission-guidelines).
For bug issue you can use this [template](https://github.com/jhipster/jhipster-registry/issues/new).

[2020-02-01 14:56] #421 closed

[2020-02-02 09:05] juliensadaoui commented on #422
I confirm it !
This is a bug introduced by this ticket #391

I synchronized the registry with jhipster 6.5.0, links for logs and loggers have been overwritten

[2020-02-02 11:13] #422 closed

[2020-02-08 14:47] pascalgrimaud commented on #385
it should work on the last version of registry

[2020-02-08 14:47] #385 closed

[2020-02-12 06:20] jfougere opened #426 "Self preservation disable in config files but documentation mention it as activated"
Eureka self preservation mode was switched off quite some time ago by this PR https://github.com/jhipster/jhipster-registry/pull/84

But the documentation included in the replica page still mention the settings like this:
`enable-self-preservation: true`

See:
https://github.com/jhipster/jhipster-registry/blob/6c7747c34d80fe10c0435686d121e9193f14b9ee/src/main/webapp/app/registry/replicas/replicas.

[2020-02-12 07:48] pascalgrimaud commented on #426
unless I'm wrong, this property should be 'false' for development in local, but needs to be 'true' if you want to replicate the Registry.

[2020-02-12 15:46] jfougere commented on #426
@pascalgrimaud I'm no expert but I don't think so. My understanding is that is serve to stop unregistering instances when no heartbeat are received past a certain threshold.
cf https://dzone.com/articles/the-mystery-of-eurekas-self-preservation

For info, I looked into that because we had "zombies" instances never unregistered from the registry after some abrupt shutdown. Searching for solutions I

[2020-02-12 15:48] pascalgrimaud commented on #426
Ok I see. In this case, you're right and our documentation needs to be updated
I don't use Eureka for my customer, we prefer using Consul :)

[2020-02-13 08:26] #426 closed

[2020-02-28 15:35] ValeryTretyak commented on #377
I couldn't build at all, saw an error:
Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.1:compile (default-compile) on project jhipster-registry: Fatal error compiling: invalid flag: --release ->
After all I followed advice from here (https://github.com/sensepost/mallet/issues/4)
and changed my pom, as described here:
https://maven.apache.org/plugins/maven-compiler-plugin/

[2020-03-03 10:00] jvence commented on #377
@ValeryTretyak Same problem here:
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.1:compile (default-compile) on project jhipster-registry: Fatal error compiling: invalid flag: --release -> [Help 1]

[2020-03-17 00:06] unikzforce opened #430 "Python client"
Is it possible for you guys provide a way to register python services on jhipster-registry?
##### **Overview of the issue**
I couldn't connect with eureka python clients in the github to the jhipster registry, because of the extra authentication that it has and no library in the github cant't handle `admin:admin@some-registry` .  In the microservices environment it's very usual to be polyglot, at

[2020-03-17 01:34] unikzforce commented on #430
I want to create a python client for jhipster registry based on an open source python eureka client.. Would you guys please guide me? What are the additional steps that are needed ti be added to an standard eureka client so it could communicate correctly with jhipster-registry..
I want to create a PR for this client:
https://github.com/keijack/python-eureka-client

[2020-03-17 08:38] gmarziou commented on #430
our library already support basic authentication; https://github.com/keijack/python-eureka-client/blob/master/py_eureka_client/http_client.py#L24

[2020-03-17 14:00] unikzforce commented on #430
sorry , It was just a silly mistake, I'll close the Issue now

[2020-03-17 14:00] #430 closed

[2020-03-19 14:04] romilptl opened #431 "Cannot convert access token to JSON on accessing management endpoints from jhipster registry"
**Architecture**
Jhispter Registry
API Gateway
UAA Server
MS 1
MS 2 ...

- Microservices and Gateway uses authenticationType as uaa, while jhispter registry uses JWT
- I can access  ` host:8761/admin/logfile` for Jhispter Registry
- Accessing  ` host:8761/admin/logfile`  for other results in 401 with Cannot convert access token to JSON

Similar Issue was reported for Jhipster Registry v5.0.0 [#367

[2020-03-19 16:15] xetys commented on #431
Are you starting the JHipster Registry in the UAA mode? Here is an example of env vars for the Registry to start it in UAA mode:

        environment:
            - SPRING_PROFILES_ACTIVE=dev,uaa
            - SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_UAA_CLIENT_ID=internal
            - SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_UAA_CLIENT_SECRET=YOURKEY

[2020-03-20 01:22] letanloc1998 opened #432 "UAA token-uri and http://localhost:8761/admin/docs"
##### **Overview of the issue**

Hi, I see "token-uri: http://uaa/oauth/token" in "src\main\resources\config\application-uaa.yml".
What is it, and how to I can config it?
I can't see any link to http://uaa/oauth/token, I try localhost:8080/service/uaa/oauth/token but it not working (http://localhost:8080/services/uaa/api/account is uaa api of my application)

And when I access http://localhost:876

[2020-03-23 10:29] romilptl commented on #431
Thanks, @xetys for your response. I have added the following to main class to run registry with UUA profile

[code]
**application-uaa.yml**
[code]

**Registry Logs:**
[code]

**UAA Logs**
[code]

[2020-03-23 10:34] xetys commented on #431
Yeah, because your try to make your registry log in using password grant. This generally means you should provide client and use credentials. This is not the intended way.

The uaa defines an internal client for service 2 service communication. Use those credentials

Is there any particular reason why you are using the registry from code?

[2020-03-24 00:10] SudharakaP commented on #398
Just for the information, I think the `buildpacks` field still needs to be supported as per https://github.com/GoogleCloudPlatform/cloud-run-button/issues/3 in order to test this. Otherwise we get,

[code]

[2020-03-24 05:23] romilptl commented on #431
@xetys, Not any specific requirements to run registry from code instead of JAR, I was exploring the hipster registry and microservices. After reverting the grant type to client credentials and profile as UAA I am able to access the API doc and others, while /logfile required some configuration as described in the [issue here](https://github.com/spring-projects/spring-boot/issues/18191)

As we can

[2020-03-24 11:51] jamesward commented on #398
I'll investigate how we can support this.

[2020-03-24 21:35] SudharakaP commented on #398
@jamesward : Thanks a bunch. Let us know if there's anything we can do on our end.

[2020-04-05 06:14] indiepopart opened #433 "jhipster-registry not starting when using vault as config backend"
**Overview of the issue**

Adding vault as a config server backend with config.server.bootstrap=true makes the registry fail on start.

**Reproduce the error**
In a JHipster microservices architecture with docker deployment, add the following environment vars to jhipster-registry.yml:
[code]
Exception:
[code]

**Related issues**

The issue has been reported in spring-cloud-config and it is suppose

[2020-04-06 01:08] mraible commented on #433
I've added a bug bounty to this because I'd like to use Vault with JHipster Registry too!

[2020-04-08 13:10] vladaurosh opened #434 "Encrypt/decrypt doesn't work on Encryption page"
##### **Overview of the issue**

Encrypt/decrypt doesn't work on Encryption page but works from command line using curl and /config/encrypt and /config/decrypt endpoints.

For both Encrypt and Decrypt  action I get red bar and [object Object] inside. Nothing in registry logs.

##### **Motivation for or Use Case**

##### **Reproduce the error**

In a JHipster microservices architecture with docker

[2020-04-08 16:48] #434 closed

[2020-04-15 08:18] #432 closed

[2020-04-28 14:00] Matheus-Rangel commented on #377
Make sure that the line ending of the mvnw is LF, when you clone the repository the git for Windows may change the line endings to CRLF.

[2020-05-08 19:37] mrts opened #436 "JHipster Registry does not work under non-root URL"
##### **Overview of the issue**

When I run JHipster Registry with Apache reverse proxy under a non-root HTTPS URL with the following configuration:

[code]

and open _website/registry/_ in browser, then I see an error page with title _An error has occurred :-(_.

When I open developer console, then I see that the application tries to load `website/main.d349279b7460a1b83d46.css` and `app/polyfills

[2020-05-08 19:49] ruddell commented on #436
Have you tried configuring the baseHref to `/registry/`?  Related code is here: https://github.com/jhipster/jhipster-registry/blob/785fba92d6b4ddbb3130e70f962228edd14583b7/webpack/webpack.common.js#L91

[2020-05-08 20:06] mrts commented on #436
Thanks for the tip! I'm running JHipster Registry with Docker Compose. Can we make `baseHref` to honor an environment variable, let's say `JHIPSTER_REGISTRY_BASEHREF` so that I can get it working by setting it in `docker-compose.yml`?

[2020-05-08 20:37] ruddell commented on #436
The base href config is applied when the frontend is built (during packaging), so I don't think it's possible to use a docker-compose environment variable.

You can build your own docker image though, by cloning the repository, making your change, and running the following command from the root:

    docker build -t your-custom-tag .

[2020-05-09 12:08] mrts commented on #436
Ah, right, makes sense! OK, I'll proceed as you suggested.

[2020-05-09 14:40] #436 closed

[2020-05-15 06:42] stevemac79 opened #437 "No Metrics for Microservice OAuth2 (Okta) Application in Registry"
##### **Overview of the issue**
I have a Microservice application which is configured with OAuth2 / Okta. This was generated with JHipster v6.4.1.
I am running the latest JHipster Registry (v6.2.0), also configured with OAuth2 / Okta.
I can log in to both applications and also use the Swagger UI on the Registry to run the Microservice APIs. However, when I go to Administration > Metrics, the page

[2020-05-17 20:40] gwangmsn opened #438 "couldn't build jhipster-registry"
My technology stack is as follows:
Apache Maven 3.6.3 (cecedd343002696d0abb50b32b541b8a6ba2883f)
Maven home: C:\bin\apache-maven-3.6.3
Java version: 11.0.7, vendor: Oracle Corporation, runtime: C:\Program Files\Java\jdk-11.0.7
Default locale: en_US, platform encoding: Cp1252
OS name: "windows 10", version: "10.0", arch: "amd64", family: "windows"

I got the following errors when I run ./mvnw

$ ./

[2020-05-19 19:28] mraible opened #439 "Looking at microservice metrics with OAuth causes login prompt and infinite loop"
##### **Overview of the issue**

If you try to look at microservice metrics from JHipster Registry (when using OAuth for auth), it results in an infinite cycle where you're prompted to login and you can't make it go away.

##### **Motivation for or Use Case**

You should be able to see metrics from other services.

##### **Reproduce the error**

Create a microservices architecture with the followi

[2020-05-21 09:44] pascalgrimaud commented on #439
@mraible : I manage to reproduce the issue, but I can explain why:
- you start the registry inside a Docker container
- you start your apps directly from your folders
- then, the registry can't access to your app: inside Docker -> your apps

The reason is your Registry (which is inside Docker) can't access to your apps (which started in default host).
Then, the problem is:
- the API got a 401 erro

[2020-05-23 15:44] mraible commented on #439
You're right and your answer makes sense. Can you clarify how to do this?

[2020-05-23 16:52] pascalgrimaud commented on #439
@mraible :
- clone jhipster-registry
- go inside
- launch it with oauth2 profile

[2020-05-28 07:57] stevemac79 commented on #437
Turned out the issue here was that the "groups" claim configured within Okta (of type "id") was not being picked up by the application, meaning that the getRolesFromClaims method in SecurityUtils was always returning a 0 length array.

FYI -
I followed the instructions for Okta integration listed here: https://developer.okta.com/blog/2018/03/01/develop-microservices-jhipster-oauth

I got it workin

[2020-05-28 07:57] #437 closed

[2020-05-28 13:00] mraible commented on #437
We probably shouldn't rely on blog posts for documentation. Do the OAuth 2.0 / OIDC instructions in our docs need updating? They're at https://www.jhipster.tech/security/#oauth2.

[2020-05-29 06:43] stevemac79 commented on #437
As it stands, yes - in addition to what is detailed in [https://www.jhipster.tech/security/#oauth2.](url), I had to add the new Okta Grant and update the SecurityUtils in both applications to see the roles array populated.

[2020-06-01 03:28] mrsimple1982 opened #441 "Not able to connect to jhipster-registry"
##### **Overview of the issue**
I am trying to run and test Jhipster microservices application(1 gateway and 1 microservice) and jhispter registry seperately on different containers. When i run these 2 containers seperately the gateway and the microservice application fail to connect.

When i try to run these application in docker-compose file, all works fine. How can i make them work separately a

[2020-06-06 13:28] romilptl opened #442 "Could not build registry 6.2.0 due to npm and webpack"
We have created the micro-service architecture using the jhipster. Due to authorities' requirements in UAA, I need to customize the authorities in AuthoritiesConstants. (If there a way to customize it by adding a parameter, it will be grateful)

To achieve the same I would like to use version 6.2.0. But I am unable to create the Jar of Registry with 6.2.0 due to error mentioned below.

[code]

I c

[2020-06-08 15:18] ruddell commented on #442
This is usually an issue related to the Node environment rather than a specific project. Are you using an IDE? If so, have you tried closing it then building? May also be related to other running `node` processes or Antivirus. There are several possible solutions in https://github.com/angular/angular-cli/issues/7681#issuecomment-337886458

[2020-06-18 07:48] syifarahmat commented on #431
please you can help me with real example configuration .yaml for jhipster registry and jhipster uaa and microservice.

Thank's

[2020-06-19 05:10] neilgrewal opened #467 "Cant deploy 6.2.0 to heroku, keeps picking up JDK 8"
##### **Overview of the issue**

Cant deploy the latest registry (v6.2.0) to heroku as it picks up JDK 8 during the deployment rather than JDK 11
##### **Motivation for or Use Case**

I want to be able to click to deploy rather than building it manually and pushing
##### **Reproduce the error**

Click deploy to heroku, fill in 6.2.0 in version
##### **Related issues**

##### **Suggest a Fix**

###

[2020-06-20 02:54] SudharakaP commented on #467
I've opened a PR that uses Java 11 in Heroku when clicked on the button. Also it defaults to the most recent jhipster-registry version (6.2.0). However the deployment doesn't work since it seems jhipster-registry gives an out of memory exception even when increased to 512 MB which is the maximum memory in the Heroku free plan. So anybody using this Heroku button will need to use a paid plan with m

[2020-06-20 03:14] SudharakaP commented on #467
Disregard my previous comment; I've figured out the problem. It seems that we are specifying unnecessary JVM properties which are automatically added by Heroku; https://devcenter.heroku.com/articles/java-support#adjusting-environment-for-a-dyno-size. When we remove those the deployment works properly. :smile:

[2020-06-20 03:52] neilgrewal commented on #467
Awesome! Thanks for the quick feedback, when can we get this merged? :)

[2020-06-20 04:33] SudharakaP commented on #467
Hi, you are welcome.

About merging, I have no idea. It depends on the time the reviewer has,
whoever it might be. Hopefully it won't take much time. 😋

But you can always check the changes in the pull request, integrate those
changes to your fork and deploy it from there. 🙃

On Fri, Jun 19, 2020, 8:52 PM Neil G <notifications@github.com> wrote:

[2020-06-20 04:35] SudharakaP commented on #467
@neilgrewal : Alternatively you can deploy it from the branch in my fork; https://github.com/SudharakaP/jhipster-registry/tree/fix-for-heroku-deployment

[2020-06-20 04:49] neilgrewal commented on #467
I went with that same approach after seeing your change, have it running finally!

[2020-06-20 05:25] #467 closed

[2020-06-27 13:59] romilptl commented on #431
@syifarahmat, You have to run Jhispter Registry with UAA profile using spring.profiles.active=uaa

[2020-07-01 15:12] rgordeev opened #470 "Error while trying to execute `./mvnw -Pdev,webpack`"
[code]

[2020-07-01 15:19] ruddell commented on #470
You can either update to Java 11 or apply the below workaround:

https://github.com/jhipster/jhipster-registry/issues/418#issuecomment-577706677

Since we decided to only support Java 11 (see the linked issue above), I'm closing the issue.

[2020-07-01 15:19] #470 closed

[2020-07-01 15:25] rgordeev opened #471 "Wrong documentation"
There is a mistake in the following documentation
[https://www.jhipster.tech/jhipster-registry/](https://www.jhipster.tech/jhipster-registry/)
[code]
There is no any docker-compose by the path `src/main/docker/jhipster-registry.yml`

[2020-07-01 15:53] SudharakaP commented on #471
@rgordeev : Note that the line says `...is already present within each microservice src/main/docker directory...`. So when you generate a microservice application you have to look for that file within the micro-service `src/main/docker` directory. And also you have to choose `JHipster Registry` for the prompt, `Which service discovery server do you want to use?`.

[2020-07-01 15:53] #471 closed

[2020-07-03 15:55] rainoko opened #472 "Support openapi 3 json"
##### **Overview of the issue**

API first allows generate API from openapi version 3. Even though we can modify application so that /api-docs serve v3 json, registry doesn't correctly change api location url and therefor broke swagger UI functionality

##### **Motivation for or Use Case**

OpenAPI V3 gives many new features to describe API. Like api versioning with headers. and different models a

[2020-07-04 15:08] vrijmetse opened #473 "Authorization using AWS Cognito caused infinite loop"
##### **Overview of the issue**

I cant seem to make this work with AWS Cognito

##### **Motivation for or Use Case**

It would be great to make this work with Cognito since this service works well with other AWS services.

##### **Reproduce the error**

1. I changed portion of `jhipster-registry.yml` to

[code]
2. I tried to login to jhipster-registry. I can see it hits `http://localhost:8761/oau

[2020-08-06 01:20] vw98075 opened #474 "jhipster-registry can't start"
##### **Overview of the issue**

Running "./mvnw" or its variations, I get a build error. The jhipster-registry is the latest version I get from its repository with a git command "git clone ..." I can't see any hipster code in the error stack. Is it a Maven version problem or a Java version problem? My local Maven version is 3.6.3 which uses Java 8. But my local Java version is 14.0.1.

##### **Mo

[2020-08-06 20:48] ruddell commented on #474
Related to Java version, the JHipster Registry is set up to only support Java 11 at the moment.

You can update the pom.xml to use with Java 14:
 - Increase the version range https://github.com/jhipster/jhipster-registry/blob/8bd0bd90cc5f4113338fb5b66ace85489ecf42e4/pom.xml#L632
 - Make one of these changes:
   - Remove release flag https://github.com/jhipster/jhipster-registry/blob/8bd0bd90cc5f41

[2020-08-07 03:48] vw98075 commented on #474
I make a change on java version to 14. The build is still broken with the same error.     On Thursday, August 6, 2020, 01:48:21 PM PDT, Jon Ruddell <notifications@github.com> wrote:

Related to Java version, the JHipster Registry is set up to only support Java 11 at the moment.

You can update the pom.xml to use with Java 14:

   - Increase the version range https://github.com/jhipster/jhipster-re

[2020-08-07 04:47] vw98075 commented on #474
To clarify the changes, the followings are two changes I make without a different outcome.

<properties>   ...       <java.version>11</java.version>  ... </properties>

Change 11 to 14.

<configuration>    <rules>        <requireMavenVersion>            <message>You are running an older version of Maven. JHipster requires at least Maven ${maven.version}</message>            <version>[${maven.versi

[2020-08-07 14:43] ruddell commented on #474
I was able to run it on Java 8, 11, and 14 so not sure what the issue is. Make sure the version you use for `java.version` matches the Java version you are using.  I think that's the only change you need for v11 and v14, removed `<release>` tag for v8.

Here's a short video showing all Java versions working: https://www.loom.com/share/dfe0bb5a82b7483ba268b4bbf36999b1

[2020-08-09 06:25] vw98075 commented on #474
Thanks for making the short video.
I lately find that the cause is the JAVA_HOME environment variable, which was pointing to a Java 8 version. Maven uses the setting instead of the Java version running on the command line. I also have multiple Java versions in the box and I change the version by running update-alternatives.      On Friday, August 7, 2020, 07:43:49 AM PDT, Jon Ruddell <notification

[2020-08-09 07:07] #474 closed

[2020-09-18 08:40] vividcore opened #475 "can not build 6.3.0"
##### **Overview of the issue**

after download 6.3.0 and try the step seperately both encounter error,but can wrok with 6.1.2

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.1:compile (default-compile) on project jhipster-registry: Fatal error compiling: invalid flag: --release -> [Help 1]

1)mvn clean package -Pprod,war
2)first start up frontside with:npm start

[2020-09-18 09:06] gmarziou commented on #475
Very likely related to JDK version, see #474

[2020-09-18 09:06] #475 closed

[2020-09-18 09:38] vividcore commented on #475
for those who still wants to support jdk8 l made below changes,
1)change the <java.version>11</java.version> to <java.version>8</java.version>
2)remove <release>${java.version}</release>

above chanegs can support my project.

[2020-09-27 15:18] ruddell commented on #377
Fixed by https://github.com/jhipster/jhipster-registry/pull/476 (error message and reproduction details match this issue)

[2020-09-27 15:18] #377 closed

[2020-10-05 09:54] OmidPoorali commented on #165
i solved this NullPointerException problem by adding "homePageUrl" in instance object
in my case :

           instance: {
                hostName: ip.address(),
                instanceId: `${appName}:${serviceID}`,
                vipAddress: `${appName}`,
                app: `${appName.toUpperCase()}`,
                ipAddr: ip.address(),
                status: `UP`,
                port: {

[2020-10-05 16:03] PierreBesson commented on #165
@OmidPoorali Can you submit your change as pull request if it fixes an issue for you. We will gladly merge it.

[2020-10-12 03:32] jieme198902 opened #478 "gateway with react run "mvn -Pdev,webpack" but "node_modules/@types/enzyme/index.d.ts(732,69): [INFO] TS2304: Cannot find name 'Cheerio'.""
##### **Overview of the issue**

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Registry Version(s)**

##### **Browsers and Operating System**

- [ ] Checking this box is mandatory (this is just to show you read everything)

[2020-10-12 13:19] ruddell commented on #478
Fixed in https://github.com/jhipster/generator-jhipster/pull/12664

Workaround until patch release is to update `@types/enzyme` version in package.json:

[code]

[2020-10-12 13:19] #478 closed

[2020-10-21 08:55] abdelmoghit1 opened #479 "Fix Jwts usage claims without deprecated method"
##### **Overview of the issue**

Fix Jwts usage claims without deprecated method in TokenProvider

##### **Motivation for or Use Case**

Code without deprecated method

[2020-10-24 12:26] #479 closed

[2020-10-26 12:45] vrushofficial opened #484 "404 error on running Jhipster registry"
##### **Overview of the issue**

I'm trying to run Jhipster registry from code which I cloned from repo. Everytime I'm requesting the gateway application I'm getting a 404 error, no matter which URL i'm requesting.

According to me it should locate me to Jhipster registry Dashboard/Login page when I open http:// host:port in browser

##### **Here is my application.yml file**

[code]
##### **JHipst

[2020-10-26 13:03] pascalgrimaud commented on #484
You need to give more details on how you use the registry:
- start with mvn ? intellij ? java -jar ? docker ?
- which profile ?
- what's the config of your gateway ?
etc etc...

[2020-10-26 13:26] vrushofficial commented on #484
I'm running a jar locally with dev profile activated and with following command

`java -jar jhipster-registry-6.2.0.jar --spring.security.user.password=admin --jhipster.security.authentication.jwt.secret=my-secret-key-which-should-be-changed-in-production-and-be-base64-encoded`

[2020-10-26 15:22] pascalgrimaud commented on #484
JHipster Registry is used as a config central server too. It's important for sharing jhipster.security.authentication.jwt.secret.
Look at your bootstrap.yml file:
[code]

If your start with `java -jar jhipster-registry-6.2.0.jar`, it won't find the central-config.

Look at the https://www.jhipster.tech/jhipster-registry/#-the-jhipster-registry
It will help you.

[2020-10-27 03:07] vrushofficial commented on #484
I'm using jhipster.security.authentication.jwt.secret which I have mentioned in `file:./central-config/application.yml` file,

please look at my `file:./central-config/application.yml`

[code]

[2020-10-27 12:28] pascalgrimaud commented on #484
I downloaded jhipster-registry 6.2.0 and tested with https://github.com/jhipster/jhipster-sample-app-gateway : everything works fine.

![jhipster-registry-terminal](https://user-images.githubusercontent.com/9156882/97301528-2d3b9400-1858-11eb-93e2-fa06de2f9ab8.png)

![jhipster-registry-screen](https://user-images.githubusercontent.com/9156882/97301546-30368480-1858-11eb-8e8a-49cb22f67b75.png)

![j

[2020-10-27 23:15] juliensadaoui commented on #441
This behaviour is correct, it is not an issue with the JHipster Registry. To understand your problem, you need to know the concept of Docker Networking and how the applications can access each other, using internal network created by docker.

There are several network drivers: Bridge, Host, None, ...
The Bridge driver is a private default internal network created by docker on the host. This networ

[2020-10-27 23:15] #441 closed

[2020-10-31 11:22] juliensadaoui opened #485 "Sync with JHipster 6.10.4"
##### **Overview of the issue**

I open this ticket to sync the registry with jhipster 6.10.4
Below, please find a list of major changes.

- Update JHipster Core version to 3.9.0
- Update Spring Boot version to 2.2.7
- Update Node version to 12.16.1
- Update Typscript version to 3.9
- Update Angular version from  9 to 10

- [X] Checking this box is mandatory (this is just to show you read everythi

[2020-11-01 09:21] juliensadaoui commented on #472
I'm OK to do that

[2020-11-01 10:39] gmarziou commented on #472
Not sure you can do it now, it has been implemented in generator-jhipster v7 on main branch but depends on jhipster lib which is not yet released.

[2020-11-01 11:07] pascalgrimaud commented on #472
@juliensadaoui @gmarziou : for your information, with @DanielFran, we plan to do a release of [jhipster-bom](https://github.com/jhipster/jhipster-bom) this afternoon.

[2020-11-01 13:19] gmarziou commented on #472
Excellent, I did not know whether you wanted to have 2 parallel versions of jhipster lib in maven central. So the new one will be 3.10.0 but will only work with app genareted by JHipster 7? And 3.9.x will be for JHipster 6?

[2020-11-01 13:51] DanielFran commented on #472
@gmarziou
The new jhipster-bom project will create a new dependency under groupId tech.jhipster (instead of current io.github.jhipster).
We will start with version 0.1.0 this afternoon and deliver version 1.0.0 with jhipster 7.

The old jhipster will be deprecated and serve only V6.

[2020-11-01 13:53] pascalgrimaud commented on #472
@gmarziou : not exactly.

Current project jhipster will not be maintained anymore, and the last release is still 3.9.0, for v6 projects. The package name is io.github.jhipster

The new project jhipster-bom, will be for v7. The release version will start with 0.1.0, with package name tech.jhipster
Just before v7 release, I'll do a new release 1.0.0

I don't know if you will be able to use 0.1.0, as

[2020-11-01 13:54] pascalgrimaud commented on #472
ahha commented as same time, we're sync :)

[2020-11-01 14:02] gmarziou commented on #472
Thanks to both :) I'm already in SB 2.3 so it should be fine.

[2020-11-15 09:15] xantusDev opened #488 "Swagger UI API testing- 'Invalid CORS Request' response for all requests methods expect for 'GET' requests"
**Overview of the issue:**

**version**: 6.3.0

I have set up the **Jhipster registry project for Swagger API documentation**.Its now the central place for gateway and all other microservices API.
When testing API's for gateway and other microservices, if the request verb is other than 'GET',ie. if the request method is POST, PUT, DELETE- 'Invalid CORS request' is thrown.
Response status: **403**,

[2020-11-16 12:58] gmarziou commented on #488
Please don't crosspost https://stackoverflow.com/questions/64858052/swagger-ui-api-testing-invalid-cors-request-response-for-all-requests-methods

[2020-11-16 13:11] xantusDev commented on #488
@gmarziou The thread has been removed.Thanks

[2020-11-16 13:15] gmarziou commented on #488
Postman does not run in a web browser so it does not apply CORS restrictions.

The registry is a Zuul proxy so it should not be different than a gateway, have you compared their configurations?

[2020-11-16 18:11] xantusDev commented on #488
[code]

[2020-11-16 20:16] gmarziou commented on #488
I have no idea why this is done.

@vishal423 do you know why you made this change?

https://github.com/jhipster/jhipster-registry/commit/76a6efc932ef0a9b34ff0dad83653d422bb301c5

[2020-11-22 15:34] vishal423 commented on #488
The intention was to deny `CORS` by default, and if the user would like to open, then he can override during application startup. However, there is still a problem noted in the [comment](https://github.com/jhipster/jhipster-registry/issues/371#issuecomment-519939050) that should be fixed.

[2020-12-02 22:28] neilgrewal opened #490 "Cannot deploy 6.4 to Heroku, release missing artifact"
##### **Overview of the issue**

Cant deploy 6.4 to heroku

##### **Motivation for or Use Case**

##### **Reproduce the error**

Deploy with any name using version 6.4

##### **Related issues**

##### **Suggest a Fix**

Include the release jar artifact with the release like previous releases

##### **JHipster Registry Version(s)**

6.4

##### **Browsers and Operating System**

- [x] Checking this

[2020-12-11 06:01] sanketrk commented on #433
Any updates on progress or is it being taken up?

[2020-12-11 07:13] pascalgrimaud commented on #433
@sanketrk : no comment, so no progress I think. Don't hesitate to help here if you know what to do

[2020-12-31 09:39] slpbaby commented on #433
I refer to [FWinkler79 Sample Project Setup](https://github.com/FWinkler79/SpringCloudPlatform/blob/Issue-SpringCloudConfigVaultBootstrap-Analysis/config-server/src/main/resources/bootstrap.yml) and is able to start the jhispter-registry.
However, I was starting jhipster-registry directly from source instead of using docker because somehow my docker keep refused to connect to the vault port.

It s

[2021-01-01 03:57] slpbaby commented on #433
I have tested jhipster registry docker deployment (v6.3.0) with following environment vars and the jhipster-registry are working fine:

[code]

[2021-01-14 05:38] mraible commented on #439
I experienced this again today in my JHipster 7 microservices demo.

[2021-01-16 09:32] pascalgrimaud commented on #433
yes, we could add:
- dockerized vault
- new profile vault

The important thing to do is to document it, after that

[2021-01-16 09:33] pascalgrimaud commented on #439
Is there a video or something else, to see the exact workflow you used ?

[2021-01-16 14:19] mraible commented on #439
Yes. See
https://youtu.be/AG4z18qePEw

On Sat, Jan 16, 2021 at 02:33 Pascal Grimaud <notifications@github.com>
wrote:

[2021-01-16 17:02] pascalgrimaud commented on #439
Ok @mraible : I explained the behavior here https://github.com/jhipster/jhipster-registry/issues/439#issuecomment-631992094

To resume, the following workflows work:
- start locally registry + start locally microservice
- start locally registry + start microservice inside docker
- start registry inside docker + start microservice inside docker

This workflow doesn't work:
- start registry inside d

[2021-01-16 17:14] pascalgrimaud commented on #490
Fixed by https://github.com/jhipster/jhipster-registry/pull/491

[2021-01-16 17:14] #490 closed

[2021-01-16 20:59] #439 closed

[2021-01-17 11:24] pascalgrimaud commented on #439
Bounty claimed at https://opencollective.com/generator-jhipster/expenses/31963

[2021-01-25 11:43] chrno1209 commented on #431
I am having the same issue, even when running latest Registry .jar file, did anybody here fix the issue?

[2021-03-11 12:14] cplaetzinger commented on #473
I'm facing the same issue using Keycloak as identity provider. My configuration works with jhipster-registry version 5.0.2 and 6.0.2 but using 6.1.2 or higher it fails

[2021-03-11 17:28] pascalgrimaud commented on #473
I applied this fix https://github.com/jhipster/jhipster-registry/pull/493
It should be in v6.6.0, can you try this version plz?

[2021-03-11 20:05] vishal423 commented on #473
I also noticed similar issue on registry while testing out the keycloak upgrade. However, mine was only reproducible when I authenticate with `user`.

[2021-03-12 08:26] cplaetzinger commented on #473
V6.6.0 does not fix the issue for me

[2021-03-12 12:52] rainmanhhh opened #495 "invalid spring config properties"
application.yml:
1. Deprecated configuration property 'spring.mvc.favicon.enabled'
2. Cannot resolve field 'when-authorized' in enum 'org.springframework.boot.actuate.autoconfigure.health.HealthProperties.Show'
    should be 'when_authorized'
3. Cannot resolve configuration property 'eureka.datacenter'
4. Cannot resolve configuration property 'eureka.environment'
5. Cannot resolve configuration pr

[2021-03-24 13:59] jairo-henao commented on #431
Any update on this? This error has me crazy

[2021-03-25 08:08] pascalgrimaud commented on #431
Sorry @jairo-henao but the support of UAA has been removed in the last version of JHipster Registry, because it's not maintained for long time and no one wants to fix all the related issue, like this one.

I would suggest you to switch to OAuth2 + Keycloak/Okta.
If you really want to keep UAA, you can use an old version of JHipster Registry, fork it, and try to fix the issue on your side.

As the

[2021-03-25 08:08] #431 closed

[2021-04-14 09:43] zzl221000 commented on #473
V6.7.1 same issue

[2021-04-21 15:28] chrno1209 opened #497 "Upgrade to Jhipster 7"
This is just a question, do you have plan to upgrade Registry to use JHipster 7?

[2021-05-12 14:22] mraible commented on #433
I increased the bug bounty on this issue to increase motivation. 😊

[2021-05-18 21:27] #433 closed

[2021-06-16 11:42] thapatwat opened #500 "Jhipster registry cannot start in Docker M1"
##### **Jhipster registry cannot start in Docker M1**
As I mention on title ,I used Registry image version: v6.3.0 in docker hub. Monitor log has show error as below when I start docker container
<img width="1440" alt="Screen Shot 2564-06-07 at 21 24 59" src="https://user-images.githubusercontent.com/85997637/122212333-e925fe00-ced1-11eb-9c14-b0ef2dccf308.png">

I'm not sure is that your problem,

[2021-06-16 11:49] gmarziou commented on #500
I'm not sure someone in the JHipster team owns a MacBook M1.

[2021-06-16 12:56] jdubois commented on #500
We bought some for some team members, typically for this use case (ping @pascalgrimaud ).

[2021-06-16 12:58] pascalgrimaud commented on #500
yes, I think @DanielFran or @mshima can help to test here

[2021-06-16 13:57] DanielFran commented on #500
Yes, not all images have ARM64 support: https://docs.docker.com/docker-for-mac/apple-silicon/#known-issues

[2021-06-18 17:43] mshima commented on #500
I can confirm the problem.
I think the fix is to provide a jhipster-registry container for `linux/arm64` platform.
I have successfully run from source and run a custom build docker image (it took almost 40m using `docker buildx build -t local-build .`).

@pascalgrimaud someone should take a look at docker cloud integration and try to enable `linux/arm64`, or we can switch to GitHub actions to publ

[2021-06-19 09:00] pascalgrimaud commented on #500
I can have a look at Docker Hub.
But in the meantime, we could simply document it, so the end user can build the image, as 40min is very long and can queue our CI

[2021-06-19 17:38] mshima commented on #500
IMO 40min build is not a good alternative.
`./mvnw -ntp package jib:dockerBuild` generates a docker images, but it fails to load due to dependencies.
I suppose it's broken for every platform.

[2021-06-30 20:51] #485 closed

[2021-06-30 20:54] juliensadaoui commented on #485
Already merged in the main branch. See #486

[2021-06-30 21:19] juliensadaoui opened #502 "Sync with JHipster 7.1.0"
##### **Overview of the issue**

I open this ticket to sync the registry with jhipster 7.1.0 and **remove the administrative server**
Below, please find a list of major changes.

- Update JHipster Dependencies version to 7.1.0
- Update Spring Boot version to 2.4.7
- Update Node version to 14.17.1
- Update Typscript version to 4.2
- Upgrade from Angular 10 to Angular 12
- Remove the administrative

[2021-06-30 21:29] juliensadaoui commented on #502
I started to work on the upgrade to JHipster v7.
https://github.com/juliensadaoui/jhipster-registry/tree/jhipster-7

[2021-06-30 21:41] juliensadaoui commented on #497
The upgrade to JHipster v7 is in progress, see #502

[2021-06-30 21:41] #497 closed

[2021-07-05 10:29] Zernov-A commented on #473
We have the same issue. This is a big problem. We can't properly work with JHipster Registry using oauth2 authentication and Keycloak. This is a problem with checking user permissions, and #501 might fix it.

[2021-07-05 12:39] #473 closed

[2021-07-22 21:07] #495 closed

[2021-07-22 21:09] juliensadaoui commented on #502
Merged in the main branch. See #503

[2021-07-22 21:12] #472 closed

[2021-07-22 21:17] juliensadaoui commented on #472
Close via #503

[2021-07-23 08:43] #502 closed

[2021-07-23 09:01] juliensadaoui commented on #502
Bounty claimed at https://opencollective.com/generator-jhipster/expenses/45936

[2021-07-28 07:07] #484 closed

[2021-08-16 19:54] FABH opened #506 "Does JHipster Registry supports private access token on github.com?"
As github.com password authentication is not available anymore, does JHipster Registry supports private access token on github.com?

[2021-09-01 12:43] bobcaprice opened #508 "401 Unauthorized - Cannot convert access token to JSON for UAA healthpoint check"
##### **Overview of the issue**

We are using jhipster-registry 6.8.0 in a microservice environment and our application is working, although some features in the jhipster-registry web interface aren't working, apparently all with the same error message. I will use healthchecks with our UAA server as an example.

Going to administration - health and selecting the UAA server from the dropdown result

[2021-09-01 17:21] emeraldhieu opened #509 "jhipster-registry can't be deployed in Tomcat 9.0.52"
##### **Overview of the issue**

jhipster-registry can't be accessed in standalone Tomcat 10.10.10

##### **Motivation for or Use Case**

https://www.jhipster.tech/production/ says jhipster-registry can be deployed using war file with a standalone Tomcat

##### **Reproduce the error**

- Checkout jhipster-registry
- Follow the guide at https://www.jhipster.tech/production
- Copy "jhipster-registry

[2021-09-04 11:44] emeraldhieu opened #510 "JHipster Registry can't be accessed on Tomcat 9"
##### **Overview of the issue**

JHipster can't be accessed when deployed on Tomcat 9

##### **Motivation for or Use Case**

I'd like to deploy JHipster Registry on Tomcat along with other services to reduce the amount of embeded container if using Spring Boot

##### **Reproduce the error**

1) Checkout jhipster-registry
2) Prepare "central-config" correctly in jhipster-registry
3) mvn clean packa

[2021-09-05 17:24] mraible opened #511 "Add support for Auth0"
##### **Overview of the issue**

https://github.com/jhipster/generator-jhipster/pull/15634 adds support for Auth0 to the main JHipster generator. It'd be cool if JHipster Registry supported it too.

##### **Motivation for or Use Case**

JHipster Registry works with Keycloak and Okta, so it'd be cool if it supported Auth0 too.

##### **Related issues**

https://github.com/jhipster/jhipster.github.i

[2021-09-06 09:37] stevenbajer opened #512 "Jhipster Registry do not work"
After startup , the log information is below:

 Cannot enhance VaultToken to a LoginToken: Token self-lookup failed; nested exception is org.springframework.web.client.ResourceAccessException: I/O error on GET request for "http://localhost:8200/v1/auth/token/lookup-self": Connect to localhost:8200 [localhost/127.0.0.1, localhost/0:0:0:0:0:0:0:1] failed: Connection refused: connect; nested exceptio

[2021-09-06 09:48] vishal423 commented on #512
@stevenbajer, Kindly provide the detailed steps that you tried. Just providing a log message doesn't help to narrow down an issue.

[2021-09-06 13:29] vishal423 opened #513 "Upgrade JHipster Registry code to sync with JHipster v7.2"
##### **Overview of the issue**

The latest spring boot upgrade includes an update in the oauth2 dependencies, and that's required to upgrade Keycloak on the JHipster side.

##### **Motivation for or Use Case**

##### **Reproduce the error**

##### **Related issues**

https://github.com/jhipster/generator-jhipster/pull/15836
##### **Suggest a Fix**

##### **JHipster Registry Version(s)**

##### **

[2021-09-06 13:53] jdubois commented on #513
Adding a bounty on this

[2021-09-06 16:50] pascalgrimaud commented on #513
Cc @juliensadaoui too, as he's the stream lead

[2021-09-07 03:16] stevenbajer commented on #512
every thing is OK today......

[2021-09-07 03:16] #512 closed

[2021-09-13 15:34] bobcaprice commented on #508
Any idea about this?

[2021-09-13 16:13] mraible commented on #508
UAA support was dropped in JHipster 7.0.0. https://www.jhipster.tech/2021/03/21/jhipster-release-7.0.0.html

Maybe this has something to do with it?

[2021-09-14 06:50] pascalgrimaud commented on #508
UAA was removed since JHipster Registry v6.7.0
If you want to use UAA with the JHipster Registry, I suggest you to:
- clone this project
- checkout v6.6.0
- fix the issues with UAA, as it was already broken at this old version
- maintain your own version in your fork

As there is no issue here, I'm closing this.

[2021-09-14 06:50] #508 closed

[2021-09-26 16:36] pascalgrimaud commented on #513
Increasing the bounty as it's more work than expected

[2021-09-26 16:45] pascalgrimaud commented on #500
Adding a bounty on this.
If there are several people who participated to this ticket, tell me, so I can increase the bounty for sharing

[2021-09-27 17:20] pascalgrimaud commented on #513
@vishal423 : is this PR https://github.com/jhipster/jhipster-registry/pull/515 enough for making Registry works with Keycloak 15 ? What's the state of this ticket ?

[2021-09-27 18:21] vishal423 commented on #513
@pascalgrimaud, Yes, with referenced PR the Keycloak upgrade is unblocked. I am a little occupied on other fronts to dedicate time for this ticket. I will check later this week, or if someone has bandwidth feel free to do.

[2021-09-27 18:23] pascalgrimaud commented on #513
@vishal423 : so we can close this ticket so the contributor can claim the bounty. And we can ooen a new one, which will be dedicated to upgrade to last JH version. What do you think?

[2021-09-27 18:27] vishal423 commented on #513
I think we can assign a separate bounty on that PR and keep this ticket as is. This ticket is more about upgrading both frontend and backend code to sync with latest generator release and that's still pending.

[2021-09-27 20:28] pascalgrimaud commented on #513
Ok you're right. Let's keep this ticket

[2021-10-05 14:28] mshima commented on #500
This is resolved now.
Arm64 image is published to docker https://hub.docker.com/r/jhipster/jhipster-registry/tags?page=1&ordering=last_updated.

[2021-10-05 14:28] #500 closed

[2021-10-05 14:29] sang-w0o commented on #500
Great!! Thank you for your information :)

[2021-10-05 14:38] mshima commented on #500
@pascalgrimaud bounty claimed https://opencollective.com/generator-jhipster/expenses/52029

[2021-10-05 14:45] pascalgrimaud commented on #500
@mshima : approved :)

[2021-10-08 18:17] vishal423 commented on #513
I believe this is complete with https://github.com/jhipster/jhipster-registry/pull/518 Can we close this ticket?

[2021-10-10 16:05] mshima commented on #513
@pascalgrimaud bounty claimed https://opencollective.com/generator-jhipster/expenses/52433

[2021-10-10 16:30] pascalgrimaud commented on #513
@mshima : approved

[2021-10-14 23:25] fredericminatchy opened #520 "Administration menu disappears from 6.8.0 to 7.0.0"
##### **Overview of the issue**

Hi guys,
In first place congratulation for you awesome job.
Nonetheless, I've spotted a strange issue since Jhipster-Registry 7.0.0.
There is no item in the 'administration' menue.

In the 6.8.0 release :

![image](https://user-images.githubusercontent.com/74561937/137408237-8001c763-ea97-40e2-8349-07423379bdd5.png)

in the 7.0.0 release :

![image](https://user-im

[2021-10-15 05:45] pascalgrimaud commented on #520
Hello, yes it's normal. We decided to remove it. The discussion is here: https://groups.google.com/g/jhipster-dev/c/i3DxfM91Yqk/m/xlzkk0rRAgAJ

I suggest you to use this project https://github.com/jhipster/jhipster-control-center by connecting it to your JHipster Registry

[2021-10-15 11:04] KaruImpl commented on #520
Thank you... I will look into that project!

[2021-11-20 18:23] greggameplayer opened #521 "Eureka can't resolve dns in kubernetes"
##### **Overview of the issue**

I get this error every minute which said that there is a problem in the dns resolving.

In the jhipster-registry-0 pod it bugs on jhipster-registry-1 dns and in the jhipster-registry-1 pod it bugs on jhipster-registry-0 dns.

![image](https://user-images.githubusercontent.com/33609333/142737054-71b7ed68-cd23-47a3-8ef8-8a43141a83ed.png)

##### **JHipster Registry Ve

[2021-12-03 01:03] renanfranca commented on #521
@greggameplayer hello! I'm using Google cloud and I didn't face this error. I run locally with minikube and it works too

[2021-12-10 12:47] greggameplayer commented on #521
Ok i've corrected it, it was just because in the generated jhipster-registry service, the part was named but on the container it wasn't named so i've put `targetPort: ` instead of name in the service

[2021-12-10 12:58] #521 closed

[2021-12-24 03:44] phxism opened #522 "method error in tech.jhipster.registry.config.WebConfigurer#resolvePathPrefix"
##### **Overview of the issue**
method error in `tech.jhipster.registry.config.WebConfigurer#resolvePathPrefix`
`java.net.URLDecoder#decode(java.lang.String, java.lang.String)`

##### **Motivation for or Use Case**
none

##### **Reproduce the error**
none

`String fullExecutablePath = decode(this.getClass().getResource("").getPath(), StandardCharsets.UTF_8);`
##### **Related issues**

##### **Sugg

[2022-01-10 13:46] ongrieh opened #525 "JHipster Registry is failing swagger-ui for JHipster version 7.5 applications"
##### **Overview of the issue**

Swagger UI works fine with JHipster generated applications as lang as no JHipster Registry is used. It seems that the `/management/jhiopenapigroups` provides an empty response. I am uncertain whether this is a JHipster Registry or a JHipster Generator issue. In the past JHipster Registry was always adjusted to updates of JHipster Generator.

##### **Motivation for

[2022-02-16 11:16] juliensadaoui opened #529 "Sync with JHipster 7.6.0"
##### **Overview of the issue**

I open this ticket to sync the registry with jhipster 7.6.0.
Below, please find a list of major changes.

- Update JHipster Dependencies version to 7.6.0
- Update Spring Boot version to 2.6.3
- Update Node version to 16.13.1
- Update Angular version to 12
- Fix breaking changes & unit tests (client side)

- [X] Checking this box is mandatory (this is just to show y

[2022-02-16 13:11] pascalgrimaud commented on #529
Adding a bounty as it's a lot of work

[2022-02-16 18:39] juliensadaoui commented on #509
Duplicate issue #510

[2022-02-16 18:39] #509 closed

[2022-02-16 18:59] juliensadaoui commented on #510
The JHipster-Registry is not adapt by default to work within Tomcat. It is a standalone Java application that can run as a desktop application or be configured as a system service.

Servlet containers like Tomcat expect the registry to meet some contracts to be deployed. You must initialize the Servlet context required by Tomcat by implementing the SpringBootServletInitializer interface.

You can

[2022-02-16 18:59] #510 closed

[2022-02-16 19:00] #442 closed

[2022-02-17 06:24] juliensadaoui commented on #438
You can delete the corresponding failed artifact directory in you local repository. Here, the **org.springframework.data:spring-data-releasetrain** artifact. And also you can simply use the -U in the goal. It will do the work.

**Resolution :**

Either use

`./mvnw -U clean install`

or

You can delete the related dependency from your local maven repository

`C:\Users\gwang.m2\repository`

You can

[2022-02-17 06:24] #438 closed

[2022-02-17 07:36] damienpolegato opened #531 "API docs showing Swagger petstore docs when deploying in docker"
##### **Overview of the issue**

I am running a micro service app with quite a lot of development done already. I recently realized that when running a local build i can access the swagger API docs in the registry but when I deploy on a server using Docker the docs show the default swagger petstore API docs :
![image](https://user-images.githubusercontent.com/11714537/154426434-8030920a-f34a-4504-

[2022-02-19 06:04] juliensadaoui commented on #506
By default, the JHipster Registry uses the SSH configuration files. Instead of use SSH, you can use Token authentication on the remote repository.

What you need to do, it is create a personal access token from the Github console.

- login in your gitHub folow this path: Settings > Developer settings > Personal access tokens > Generate new token
- set a long time to expiration token, check the "re

[2022-02-19 06:04] #506 closed

[2022-02-19 08:58] juliensadaoui commented on #511
I begun a working prototype with Auth0, will raise a PR the next week.
I can see my work in this [branch](https://github.com/juliensadaoui/jhipster-registry/tree/feat/511-oauth0-support)

[2022-02-21 06:16] #529 closed

[2022-02-24 08:41] #511 closed

[2022-03-04 05:17] mraible opened #533 "ERROR TypeError: Cannot read properties of undefined (reading 'params')"
##### **Overview of the issue**

I tried to update a tutorial from using JHipster 7.6.0 (with JHipster Registry v7.2.0) to JHipster 7.7.0 (with JHipster Registry v7.3.0) today. The first time I tried to load the registry, it fails to load, and there's an error in my browser's console.

<img width="1472" alt="Screen Shot 2022-03-03 at 22 12 41" src="https://user-images.githubusercontent.com/17892/1

[2022-03-04 13:06] yamennassif opened #534 "JHipster registry cannot connect to keycloak on a different server"
##### **Overview of the issue**

##### **Motivation for or Use Case**

I need to run keycloak on one server and registry on a different server

##### **Reproduce the error**

1- run keycloak on server A
2- nginx to reverse proxy keycloak on the same server A
3- run JHipster-registry on different server B
4- change SPRING_SECURITY_OAUTH2_CLIENT_PROVIDER_OIDC_ISSUER_URI in jhipster-registry.yml to p

[2022-03-08 17:19] mraible commented on #533
If I change Spring Security's logging to debug, it seems like my authorities are getting lost:

2022-03-08 10:15:39.229 DEBUG 54879 --- [  XNIO-1 task-4] s.s.w.c.SecurityContextPersistenceFilter : Set SecurityContextHolder to SecurityContextImpl [Authentication=UsernamePasswordAuthenticationToken [Principal=org.springframework.security.core.userdetails.User [Username=admin, Password=[PROTECTED], E

[2022-03-08 17:40] mraible commented on #533
This was caused by not having a `groups` claim added to my ID token on Okta. 😫

[2022-03-08 17:40] #533 closed

[2022-05-01 19:39] moksamedia opened #537 "Service registeres as OUT_OF_SERVICE and registry fails to update when it returns to UP"
##### **Overview of the issue**

Using the JHipster generator (v7), the store application goes from STARTING to DOWN to OUT_OF_SERVICE. The app then registers with Eureka. Later, the app goes to UP, but the Eureka registry never reflects this change. There's [an issue on Spring Cloud Netflix](https://github.com/spring-cloud/spring-cloud-netflix/issues/3941) that details the problem.

According to

[2022-05-24 08:09] Chipsona opened #538 "Eureka won't connect when run jhipster-registery in docker with cloud config server"
Hi All,
I am new to jhipster and docker. Just creating a jhipster-registry instance on linux server using docker. I am getting below exception

_jhipster-registry_1  | 2022-05-18 09:20:35.839  INFO 1 --- [           main] c.n.d.s.t.d.RedirectingEurekaHttpClient  : Request execution error. endpoint=DefaultEndpoint{ serviceUrl='http://admin:admin@localhost:8761/eureka/}, exception=java.net.ConnectEx

[2022-05-27 19:46] Tcharl commented on #538
Last time I used it, I registered my local url as `127.0.0.1 jhipster-registry` in my `/etc/hosts` and it worked. Can you please try it?

[2022-06-01 09:43] Chipsona commented on #538
Thanks @Tcharl  for your response. I have tried this but **no** luck.

[2022-06-01 09:50] Tcharl commented on #538
You should also modify the service url in your compose file right?

[2022-06-01 16:55] Tcharl commented on #538
Here's what I had on my side for local environment (I'll retest with another example in the latest version as soon as I can).

Back In the old days, it worked pretty well :-).

[code]

And the application.yml (it was made when jhipster was in version 7.0.1, some properties may have changed)

[code]

[2022-06-02 10:52] Chipsona commented on #538
Thanks @Tcharl for you prompt response.
The issue occurs when I use "Spring Cloud Config" from GIT repo using PROD profile.
At local Dev it works fine.

[2022-06-13 19:38] willywanka75 opened #539 "Generating a New JHipster Project with a Cache Results in Cache Provider Not Being Generated"
##### **Overview of the issue**

Generating a new JHipster project with any cache (eg. redis) results in `"cacheProvider": "no",` in .yo-rc.json and no generated code regarding cache.

##### **Motivation for or Use Case**

Prevents cache options from being generated.

##### **Reproduce the error**

[code]

##### **Related issues**

No

##### **Suggest a Fix**

Not sure

##### **JHipster Registry V

[2022-06-13 23:50] willywanka75 commented on #539
Sorry, I used the wrong tab. Will do.

[2022-06-13 23:50] #539 closed

[2022-07-06 21:32] paris0120 opened #540 "Eureka won't start with customized keycloak server"
##### **Overview of the issue**
I have a customized keycloak server (https://github.com/paris0120/keycloak-server). However, eureka works fine with docker image but won't start with this server.

I got
docker-jhipster-registry-1  | 2022-07-06 21:06:38.097  WARN 1 --- [           main] ConfigServletWebServerApplicationContext : Exception encountered during context initialization - cancelling refres

[2022-07-07 07:12] Tcharl commented on #540
Hi,

Can you try to add an alias in your hosts file `127.0.0.1 keycloak` and align your keycloak and application-*.yml configuration accordingly?

[2022-07-18 17:53] paris0120 opened #541 "The jar file doesn't load config"
##### **Overview of the issue**
It seems that the jar file doesn't read the config files. I got the following errors. I checked the config file and spring.security.user.roles is with ADMIN and USER

pplicationContext : Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'JWTSecurity

[2022-07-21 02:50] Lich66 commented on #541
I have this problem too, have you solved it?

[2022-08-06 12:23] Tcharl commented on #541
And with [this procedure?](https://www.baeldung.com/spring-properties-file-outside-jar)

[2022-08-18 22:09] #537 closed

[2022-08-25 14:47] vishal423 opened #542 "Update registry to work with Keycloak v18.x onwards"
##### **Overview of the issue**
Update JHipster Registry code to work with Keycloak v18.x onwards

##### **Motivation for or Use Case**
Keycloak v18.x introduced logout breaking changes to comply with OIDC spec. Logout doesn't work with current version of JHipster Registry

##### **Reproduce the error**

##### **Related issues**

##### **Suggest a Fix**

##### **JHipster Registry Version(s)**

###

[2022-08-25 15:36] vishal423 opened #543 "Registry docker image requires JWT base64-secret in oauth2 profile"
##### **Overview of the issue**
JWT base64-secret should not be mandatory in oauth2 profile

##### **Motivation for or Use Case**

##### **Reproduce the error**
- Generate the JHipster application with OIDC authentication and select integration with JHipster Registry
- Start the Keycloak container
- Start `jhipster-registry` container -- `docker-compose -f src/main/docker/jhipster-registry up`
- Y

[2022-09-03 18:45] mraible commented on #543
Added bug bounty to get this fixed.

[2022-09-03 18:52] mraible commented on #542
Added a bug bounty to get this fixed.

[2022-09-11 07:57] juliensadaoui opened #544 "Exposing Git Credentials over Info Enpoint"
##### **Overview of the issue**

The JHipster registry will expose configured git credentials (username/password or private key) in the info enpoint if we use the COMPOSIT_TYPE git because the [CloudConfigInfoContributor](https://github.com/jhipster/jhipster-registry/blob/main/src/main/java/tech/jhipster/registry/config/info/CloudConfigInfoContributor.java.) exposes git credentials over the Info e

[2022-09-11 13:54] pascalgrimaud commented on #544
Adding a bounty on this important issue

[2022-09-11 21:35] pascalgrimaud commented on #542
@juliensadaoui : can we close this?

[2022-09-12 03:55] DanielFran commented on #543
@juliensadaoui Can we close this issue?

[2022-09-12 05:21] #543 closed

[2022-09-12 05:22] #544 closed

[2022-09-12 05:22] #542 closed

[2022-09-13 11:17] juliensadaoui opened #550 "Sync with JHipster 7.9.3"
##### **Overview of the issue**

I open this ticket to sync the registry with jhipster 7.9.3 .
Below, please find a list of major changes.

- Update JHipster Dependencies version to 7.9.3
- Update Spring Boot version to 2.7.3
- Update Node version to 16.17.0
- Update Angular version to 14
- Update Bootstrap version to 5
- Refactor Security Configuration (server side)
- Fix breaking changes & unit

[2022-09-13 12:28] pascalgrimaud commented on #550
adding a bounty on this, as it is always a pain to upgrade

[2022-09-14 08:11] #550 closed

[2022-09-16 17:22] vladaurosh opened #554 "/management/info exposes sensitive data"
##### **Overview of the issue**

By default /management/info is unprotected but can expose sensitive data. I am using git as backend and info page is showing git url as well as ssh key (!?).
I've tried removing info page from management.endpoints.web.exposure.include but that caused other issues, like home page not opening username/password prompt window. Clicking on 'Please sing in' didn't do any

[2022-09-20 08:09] juliensadaoui commented on #554
This security issue has been fixed. See #544 for more details.

@pascalgrimaud Can we do a release of jhipster registry ?

[2022-09-20 08:12] pascalgrimaud commented on #554
@juliensadaoui : do you know how to do the release ? If yes, go ahead

[2022-09-20 08:13] juliensadaoui commented on #554
I don't know how to do it completely

[2022-09-20 08:19] pascalgrimaud commented on #554
@juliensadaoui : ok, then I'll take care of it, maybe after lunch

[2022-09-21 17:33] juliensadaoui commented on #554
Duplicate issue #544

[2022-09-21 17:34] #531 closed

[2022-09-22 13:21] juliensadaoui commented on #534
@yamennassif if this is still an issue please ask to reopen

[2022-09-22 13:21] #534 closed

[2022-09-23 09:01] juliensadaoui commented on #541
I can't able to reproduce this problem
@paris0120 if this is still an issue please ask to reopen

[2022-09-23 09:01] #541 closed

[2022-10-21 08:57] ryanmyj opened #555 "Swagger UI in Registry doesn't show the API document for other services"
Generate a gateway, start up the service.
Then start the Registry

![image](https://user-images.githubusercontent.com/62282214/197155703-66e2b4b7-3998-48ae-b787-fed490185e78.png)

Go to the Swagger page, the gateway API doesn't show up:

![image](https://user-images.githubusercontent.com/62282214/197155045-373dd4e3-b0b4-4fb7-be70-f8b7e5471186.png)

##### **JHipster Version(s)**

7.4.0

##### **JHi

[2022-10-25 07:34] ryanmyj opened #556 "Swagger UI in Registry doesn't show the API document for other services"
Generate a gateway, start up the service.
Then start the Registry

![image](https://user-images.githubusercontent.com/62282214/197155703-66e2b4b7-3998-48ae-b787-fed490185e78.png)

Go to the Swagger page, the gateway API doesn't show up:

![image](https://user-images.githubusercontent.com/62282214/197155045-373dd4e3-b0b4-4fb7-be70-f8b7e5471186.png)

##### **JHipster Version(s)**

7.4.0

##### **JHi

[2022-10-25 12:53] #556 closed

[2022-10-25 12:53] mshima commented on #556
duplicated.

[2022-10-25 12:54] mshima commented on #555
jhipster-registry is missing the endpoints lookup:
https://github.com/mshima/generator-jhipster/blob/f2521c39f538908b90809b4c3090ee4962197c8a/generators/client/templates/common/src/main/webapp/swagger-ui/index.html.ejs#L77-L113

[2022-11-03 11:01] Dinesh5490007 opened #557 "Connection timed out (Connection timed out) comming with Jhipster Register multiple time , due which apis are failing"
05:44.719  WARN 1 --- [reshExecutor-13] c.n.d.s.t.d.RetryableEurekaHttpClient    : Request execution failed with message: I/O error on GET request for "http://admin:admin@20.203.137.209:8761/eureka/apps/delta": Connect to 20.203.137.209:8761 [/20.203.137.209] failed: Connection timed out (Connection timed out); nested exception is org.apache.http.conn.HttpHostConnectException: Connect to 20.203.13

[2022-11-08 13:43] ikomangmahendra opened #558 "Intermittent Registry failure to perform Health check due to missing temporary directory (Cannot load environment)"
##### **Overview of the issue**

Intermittent Registry failure to perform Health check due to missing temporary directory (Cannot load environment).

I try to investigate this issue with no luck because this issue is intermittent and difficult to predict when it will occur.
Sometimes it happens in three days, one week and sometimes two week.

I have implemented a temporary solution to prevent this